﻿@import "_base.scss";

.shopping-cart{
    .remove-item a{float:left; width:100%; text-align:center;color:$base-color-primary;text-decoration:none;}
    .cart-empty p{margin-bottom:15px;text-align:center;}
    .cart-summary{
        .md-cart-aside{float:left;width:100%;
            .md-apply-coupon{margin-bottom: 15px;}
            .md-shipping-estimate{margin-bottom: 15px;}
            .md-cart-total{margin-bottom:15px;
                .aside-panel{text-align:left;padding:10px 45px 10px 15px;margin:0;font-size:$base-font-size;font-family:$base-font-family-bold;text-transform:uppercase;border:1px solid $border-bgcolor-default;background-color:#f5f5f5;color:$text-fgcolor-heading;position:relative;}
                .md-total-block{float:left;width:100%;padding:15px;font-size:$base-font-size;border:1px solid $border-bgcolor-default;border-top:0;background-color:#fbfbfb;
                    .form-group{border-bottom:1px solid $border-bgcolor-default;
                        &.total{border-bottom:none;
                            div:nth-child(2) p{font-size:$base-font-size + 4;}
                        }
                        div{
                            p{padding:13px 0;text-align:left;font-size:$base-font-size + 2;}
                            &:nth-child(2) p{font-family:$base-font-family-bold;color:$text-fgcolor-heading;text-align:right;}
                        }
                    }
                    .checkout-btn{width:100%;border-radius:0;display:block;border:0;font-weight:$base-font-normal;height:38px;float:left;margin:0;line-height:38px;
                        &:hover{text-decoration:none;opacity:0.9;filter:alpha(opacity=90);}
                    }
                }
            }    
        }
        .cart-item-remove-all i{color:$base-color-primary;padding-right:5px;}
    }
    .checkout-view-btn .btn-text i{padding-right:5px;}
}
.cart-promocode{
    .form-group{margin-bottom:0;}
    h2{cursor:pointer;padding:10px 45px 10px 15px;margin:0;font-size:$base-font-size;font-family:$base-font-family-bold;text-transform:uppercase;border:1px solid $border-bgcolor-default;background-color:#f5f5f5;color:$text-fgcolor-heading;position:relative;
        &:before{font-family:"znode-web-store";content:"\e914";float:right;width:26px;height:26px;display:block;position:absolute;right:15px;top:50%;margin-top:-13px;text-align:center;line-height:24px;font-size:$base-font-size - 2;}
        &.collapsed:before{content:"\e913";}
    }
    .aside-panel-block{float:left;width:100%;
        .md-apply-code-block{padding:15px;border:1px solid $border-bgcolor-default;border-top:none;background-color:#fbfbfb;width:100%;
            .md-code-label{margin:0;vertical-align:middle;color:$text-fgcolor-default;font-size:$base-font-size + 1;font-weight:$base-font-normal;margin-bottom:10px;width:100%;line-height:1.5;}
            input{height:38px;border:1px solid $border-bgcolor-default;padding:0 20px;border-radius:0;}
            .right-inner-icon span{width:38px;height:38px;position:absolute;top:0;right:0;cursor:pointer;
                i{line-height:38px;height:38px;padding:0;width:38px;text-align:center;}
            }
            .md-code-button{float:left;display:block;width:100%;
                button{margin:10px 0 0;border-radius:0;width:100%;display:block;border:0;font-weight:$base-font-normal;height:38px;
                    &:hover{opacity:0.9;filter:alpha(opacity=90);}
                }
            }
            .coupon-msg{
                p{margin-top:5px;padding-top:0;
                    a{color:$error-msg-fgcolor;text-decoration:none;
                        &.zf-close{color:$error-msg-fgcolor !important;}
                    }
                }
            }
            .shipping-estimate-details{float:left;width:100%;
                .form-group{border-bottom:1px solid $border-bgcolor-default;margin-bottom:10px;
                    div{text-align:right;
                        .styled-input{text-align:left;}
                    }
                    &:last-child{border:none;margin-bottom:0;}
                }
            }
        }
    }
}
// Media Query.
@include screensize(x-small) {
    .shopping-cart{padding:0 5px;
        .shopping-cart-page-title{margin: 0 0 12px;border-bottom:4px solid $base-color-primary;
            h2{margin:10px 0 10px;font-size:$base-font-size + 7;color:$base-color-primary;float:none;}
            a{font-size:$base-font-size + 1;padding:0 15px;line-height:38px;height:38px;border-radius:0;font-weight:$base-font-normal;float:left!important;margin:0 0 10px;
                &:hover{text-decoration:none;opacity:0.9;}
            }
        }
        .cart-products{padding-right:0;border:block;
            .cart-table-wrapper{border:1px solid $border-bgcolor-default;background:$base-color-white;padding:15px;margin-bottom:60px;box-shadow:0 2px 3px rgba(0,0,0,0.08);
                .table{width:100%;font-size:$base-font-size + 1;position:relative;
                    thead{display:none;}
                    thead,tbody{border:none;
                        tr{border-bottom:1px solid $border-bgcolor-default;padding:15px 0;width:100%;
                            &:first-child{padding-top:0;}
                            &:hover{background-color:transparent;}
                            th{font-family:$base-font-family-bold;padding:15px 10px;vertical-align:middle;
                                &:first-child{width:41px;}
                            }
                            td{
                                a{text-decoration:none;
                                    img{width:100px;margin:auto;}
                                    .zf-close{color:$base-color-primary;}
                                }
                                &.cart-item-quantity .md-add-to-cart-container{margin:0;
                                    .md-spinner-btns{margin:0;padding:0;float:none;
                                        .md-spinner{justify-content:center;-webkit-justify-content:center;}
                                    }
                                }
                                &.cart-item-name{
                                    .cart-item-description,.group-product-list{font-family:$base-font-family-bold;font-size:$base-font-size - 1;font-style:italic;}
                                }
                            }
                        }
                    }
                    tfoot{display:table-footer-group;
                        th{padding:15px 5px 0;
                            form{float:right;width:auto;}
                             a{float:left;width:auto;}
                            /*form{float:none;width:100%;text-align:center;margin-bottom:10px;}*/
                            a{border-radius:0;border:1px solid $border-bgcolor-default;color:$text-fgcolor-default;line-height:32px;padding:0 12px;height:34px;font-weight:$base-font-normal;display:block;margin:0;background-color:$base-color-white;
                                &:hover{text-decoration:none;opacity:0.9;background-color:$base-color-primary;color:$base-color-white;}
                            }
                        }
                    }
                }
            }
        }
        .cart-summary{padding-left:0;
                     .md-cart-aside{.md-apply-coupon{padding:0 5px 0 0;}}
        }
    }
}
@include screensize(small) {
    /*.shopping-cart{padding:0;}*/
}
@include screensize(medium) {
    .shopping-cart{
        .cart-products{padding-right:15px;
              .cart-table-wrapper{padding:30px;}
        }
        .cart-summary{padding-left:15px;}
    }
}
@include screensize(desktop) {
    .shopping-cart{
        .shopping-cart-page-title{
            h2{float:left;}
            a{float:right!important;margin:0;}
        }
        .cart-products .cart-table-wrapper .table{
            thead{display:table-header-group;}
            thead,tbody{
                tr{padding:0;float:none;width:100%;
                    td{display:table-cell;text-align:left;float:none;width:auto;padding:15px 10px;
                        &:first-child{position:relative;}
                        &.cart-item-quantity .md-add-to-cart-container .md-spinner-btns .md-spinner{justify-content:flex-start;-webkit-justify-content:flex-start;}
                    }
                }
            }
            tfoot th{
                form{float:right;width:auto;}
                a{float:left;width:auto;}
            }
            
        }
          .cart-summary{padding-left:0;
                     .md-cart-aside{.md-apply-coupon{padding:0;}}
        }
    }
}