﻿@import "_base.scss";
// Font Family.
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../Fonts/Roboto-Regular.ttf') format('truetype');src: url('../../Fonts/Roboto-Regular.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Regular.svg') format('svg');src: url('../../Fonts/Roboto-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../Fonts/Roboto-Medium.ttf') format('truetype');src: url('../../Fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../../Fonts/Roboto-Medium.svg') format('svg');src: url('../../Fonts/Roboto-Medium.woff') format('woff');
}

html, body{
    height:100%;
    font:{
        family:$base-font-family;
        size:$base-font-size;
    }
    color:$text-fgcolor-default;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background-color:$base-color-white;
    line-height:1.35;
}
.modal-backdrop{background-color:transparent;}
.nopadding {padding: 0; margin: 0;}
.required:after {content: ' * '; color:$required-star;}
.flex-wrap{display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;}
a {outline:medium none;text-decoration:none;color:$anchor-tag-fgcolor; 
    &:hover,&:active,&:focus{outline:medium none;color:$anchor-tag-fgcolor-hover;}
}
h1, h2, h3, h4, h5, h6 {font-family:$base-font-family;font-weight:$base-font-normal;}
h1, h2 {margin:8px 0; font-size:$base-heading-font-primary;}
h3, h4 {margin:6px 0; font-size:$base-heading-font-secondary;}
h5 {margin:4px 0; font-size:$base-font-size;}

p,ul{margin:0;}
.form-group{float:left; width:100%;margin-bottom:10px;}
.border-top{border-top:4px solid $base-color-primary;}
.padding-top {padding-top:15px;}
.padding-top-bottom {padding:15px 0;}
.padding-left{padding-left:10px;}
.margin-top {margin-top: 15px;}
.margin-top-bottom {margin:15px 0;}
.margin-bottom {margin-bottom:15px;}
.padding-5{padding:0 5px;}
.padding-10{padding:0 10px;}
z-widget{display:block;}

.field-validation-error,.error-msg{color:$error-msg-fgcolor;line-height:1.5;}
.success-msg{color:$success-msg-fgcolor;line-height:1.5;}

.md-page-title-div{text-align:left;
    .md-page-title{font-size:$base-font-size + 7;margin:0 0 15px;color:$base-color-primary;line-height:1.35;}
}

// Shadow Efficet
.hvr-shadow {display: inline-block;vertical-align: middle;-webkit-transform: translateZ(0);transform: translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);-webkit-backface-visibility: hidden;backface-visibility: hidden;-moz-osx-font-smoothing: grayscale;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property: box-shadow;transition-property: box-shadow;}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);}

// Checkbox & Redio Button
.styled-input input[type=radio] {display: none;}
.styled-input input[type=radio]:checked + label:before {font-family:$znode-icon-font;content: "\f192";color: $checkbox-radio-color;font-size:$base-font-size + 5;}
.styled-input input[type=radio] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;line-height:18px;}
.styled-input input[type=radio] + label:before {font-family:$znode-icon-font;content: "\f10c";margin-right: 10px;position: absolute;top: 0;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}
.styled-input input[type=checkbox] {display: none;}
.styled-input input[type=checkbox]:checked + label:before {font-family:$znode-icon-font;content: "\f046";color: $checkbox-radio-color;font-size:$base-font-size +5;}
.styled-input input[type=checkbox] + label {display: block;position: relative;padding-left: 2em;cursor: pointer; margin-bottom:10px;font-weight:normal;line-height:20px;}
.styled-input input[type=checkbox] + label:before {font-family:$znode-icon-font;content: "\f096";margin-right: 10px;position: absolute;top: 0;left: 5px;color: $checkbox-radio-label;line-height:20px;font-size:18px;}

// Notification Messages
.notification-msg{z-index:999;
    .alert{position:relative;padding:5px;line-height:21px;margin-bottom:0;border-radius:0;min-height:36px;top:5px;
        p{width:calc(100%-20px);}
        .close{position:absolute;top:calc(50%-8px);right:5px;opacity:1;font-size:$base-font-size + 3;}
    }
    .alert-danger{border:1px solid $alert-msg-danger;
        .close{color:$alert-msg-danger;}
    }
    .alert-success{border:1px solid $alert-msg-success;
        .close{color:$alert-msg-success;}
    }
    .alert-info{border:1px solid $alert-msg-info;
        .close{color:$alert-msg-info;}
    }
}

// General CSS
.star-rating{font-size:11px;cursor:default;
    .zf-star-full,.zf-star-half{color:$text-fgcolor-default;}
    .zf-star-empty{color:$text-fgcolor-default;}
    .zf-star-empty.full:before{content:"\e90e";}
    .full{color:$text-fgcolor-default;}
    .empty{color:$base-color-primary;}
    i:hover{color:$text-fgcolor-default;}
} 
.sub{font-size:12px;color:#8e8e8e;}
.cut-price{color:#9f9f9f; padding-left:5px;text-decoration:line-through;}

.social-share ul{padding:0; margin:0;float:left;
    li{display:inline-block;}
    i{font-size:26px;color:#787878; cursor:pointer;}
}

// File Upload
.file-upload {position:relative;
    .file-upload-name{float:left;margin-left:15px;line-height:26px;}
    input[type="file"]{position:absolute;top:0;margin:0;opacity:0;width:70px;min-height:34px;}
    .po-document-details{
        a{cursor:pointer;color:$base-color-primary;padding-right:3px;display:none;float:left;line-height:24px;padding-right:5px;}
        span{float:left;line-height:26px;}
    }
}
.file-upload-btn{position:relative;overflow:hidden;margin-left:0;background:$base-bgcolor-button-primary;}

// Modal PopUp
.modal-header{background-color:$base-color-primary;
        h4{color:$base-color-white;font-size:$base-font-size + 7;}
        .close {color:$base-color-white;margin-top:5px;}
}
.modal-body,.modal-footer{display:table;width:100%;background-color:$base-color-white;}

// Back to top
.back-to-top{height:40px;position:fixed;right:15px;width:40px;z-index:9999;bottom:0;background-color:#404040;font-size:16px;text-align:center;line-height:1;padding:11px 0;border-radius:5px 5px 0 0;color:$base-color-primary !important;opacity:0;transition:opacity .6s 0s, visibility 0s .3s;-webkit-transition:opacity .6s 0s, visibility 0s .3s;-moz-transition:opacity .6s 0s, visibility 0s .3s;
    &:hover{color:$base-color-white;text-decoration:none;background-color: #555;}
}
// store locator css
.store-locator-block{
    .store-locator-view{max-height:250px;}
    .locator-map{padding-right:15px;}
    .locator-info-panel{
        .right-side-locator{height:410px;overflow:auto;}
    }
}
// Error Page
.error-page{padding:20px 15px; min-height:450px;}

// IE10+ specific styles go here
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
    .modal-content{margin-top:-1px;}
}

// Media Query
@include screensize(small) {
    .modal-dialog .modal-body{max-height:600px;overflow:auto;}
}
@include screensize(medium) {
    .modal-dialog .modal-body{max-height:none;}
}

// Utilities File Import.
@import "utilities/_buttons.scss";
@import "utilities/_input.scss";
@import "utilities/_dropdown.scss";
@import "utilities/_grid-filter.scss";
@import "utilities/_loader.scss";

// Widget and Global File Import
@import "_icons.scss";
@import "widgets/_search.scss";
@import "widgets/_subscribe.scss";
@import "widgets/_link-panel.scss";
@import "widgets/_local.scss";
@import "widgets/_typeahead.scss";
@import "widgets/_slider.scss";
@import "widgets/_product-list.scss";
@import "widgets/_product-grid.scss";
@import "widgets/_facet.scss";
@import "widgets/_compare-product.scss";
@import "widgets/_datepicker.scss";
@import "widgets/_dynamic-grid.scss";
@import "widgets/_category-list.scss";
@import "widgets/_quick-view.scss";
@import "widgets/_quick-order.scss";

/*-- Not Use in Theme 
@import "widgets/_quick-order.scss";*/