﻿@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
}

@if (Equals(Model.ClassName, "ZnodeShippingCustom"))
{
    <aside>
        <button id="slide-menu" type="button" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
        <div class="slide-container">
            <ul class="aside-panel">
                <li>@Html.AuthorizedRawActionLink(@Admin_Resources.ManageShipping, "Edit", "Shippings", new { shippingId = Model?.ShippingId },new {@data_test_selector = "linkManageShipping"})</li>
                <li>@Html.AuthorizedRawActionLink(@Admin_Resources.AssociatedRules, "ShippingRuleList", "Shippings", new { shippingId = Model?.ShippingId, shippingTypeId = Model?.ShippingTypeId },new{ @data_test_selector = "linkAssociatedRules" })</li>
            </ul>
        </div>
    </aside>
}
else {
    <aside>
        <button id="slide-menu" type="button" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand/Collapse"><i class="z-left-collaps-arrow"></i></button>
        <div class="slide-container">
            <ul class="aside-panel">
                @if (Model?.ShippingId > 0)
                {
                <li class="active">@Html.AuthorizedRawActionLink(@Admin_Resources.ManageShipping, "Edit", "Shippings", new { shippingId = Model?.ShippingId }, null)</li>
                }
                else
                {
                    <li class="active">@Html.AuthorizedRawActionLink(@Admin_Resources.ManageShipping, "Create", "Shippings", null)</li>
                }
            </ul>
        </div>
    </aside>
}


