﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CMSWidgetsListViewModel

@{
    string PageDisplayName = @Model.FileName.Replace("_", "");
}
@if (!Equals(Model.CMSWidgetsList, null))
{
    WidgetHelper.SetWidgetActions(Model);
<div class="col-sm-12 title-container">
    @if (Model.TypeOFMapping == ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
    {
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelExperience)<i class="z-minus"></i><span>@Model.DisplayName</span></h1>
    }
    @if (Model.TypeOFMapping == ZnodeCMSTypeofMappingEnum.ContentPageMapping.ToString())
    {
        <h1>@string.Format(@Admin_Resources.TitleManage, Admin_Resources.LabelWebsite)<i class="z-minus"></i><span>@Model.DisplayName</span></h1>
    }
    <div class="pull-right">
        @if (Model.TypeOFMapping == ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())
        {
            @Html.AuthorizedRawActionLink("<i class='z-back'></i>" + Admin_Resources.ButtonCancel, "List", "StoreExperience", null, new { @class = "btn-text-icon", @data_test_selector = "linkCancel" })
        }
        @if (Model.TypeOFMapping == ZnodeCMSTypeofMappingEnum.ContentPageMapping.ToString())
        {
            @Html.AuthorizedRawActionLink("<i class='z-cancel'></i>" + Admin_Resources.ButtonCancel, "ContentPageList", "Content", null, new { @class = "btn-text-icon", @data_test_selector = "linkCancel" })
        }
    </div>
</div>
            <div class="col-sm-12 manage-website-container nopadding">
                <div class="widgets-layout">
                    @if (Equals(PageDisplayName, "Header"))
                    {
                        <div class="header-widgets">
                            @foreach (var widget in Model.CMSWidgetsList)
                            {
                                widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                                <div class="widgets-container">
                                    @if (widget.IsConfigurable)
                                    {
                                        <a href="@widget.WidgetActionUrl">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                            <div class="configure-option"><span><i class="z-global-setting"></i> @Admin_Resources.TextConfigure</span></div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                        <div class="main-container-widgets">
                            <div class="watermark-text"><p>Content</p></div>
                        </div>
                        <div class="footer-widgets"><div class="watermark-text"><p>Footer</p></div></div>
                    }
                    else if (Equals(PageDisplayName, "Footer"))
                    {
                        <div class="header-widgets"><div class="watermark-text"><p>Header</p></div></div>
                        <div class="main-container-widgets"><div class="watermark-text"><p>Content</p></div></div>
                        <div class="footer-widgets">
                            @foreach (var widget in Model.CMSWidgetsList)
                            {
                                widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                                <div class="widgets-container">
                                    @if (widget.IsConfigurable)
                                    {
                                        <a href="@widget.WidgetActionUrl">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                            <div class="configure-option" data-test-selector="div@(widget.DisplayName.Replace(" ",""))"><span><i class="z-global-setting"></i>@Admin_Resources.TextConfigure</span></div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                    }
                    else
                    {
                        <div class="header-widgets"><div class="watermark-text"><p>Header</p></div></div>
                        <div class="main-container-widgets">
                            @foreach (var widget in Model.CMSWidgetsList)
                            {
                                widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                                <div class="widgets-container">
                                    @if (widget.IsConfigurable)
                                    {
                                        <a href="@widget.WidgetActionUrl">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                            <div class="configure-option" data-test-selector="div@(widget.DisplayName.Replace(" ",""))"><span><i class="z-global-setting"></i> @Admin_Resources.TextConfigure</span></div>
                                        </a>
                                    }
                                    else
                                    {
                                        <a href="javascript:void(0)">
                                            <h3>@widget.DisplayName</h3>
                                            <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                        </a>
                                    }
                                </div>
                            }
                        </div>
                        <div class="footer-widgets"><div class="watermark-text"><p>Footer</p></div></div>
                    }


                </div>
            </div>
}