﻿.navigation{position:initial;flex-grow:0;background-color:$header-nav-link;
    > z-widget{height:calc(100% - 47px);}
    .parent-nav,.link-panel-widget{list-style:none;margin:0;padding:0;display:none;padding-left:12px;
        > li{font-family:$base-font-family-bold;color:$base-tertiary;font-size:$base-font-size + 3;text-transform:uppercase;border-bottom:5px solid transparent;
            &:hover,&:active{color:$base-primary;border-color:$base-secondary;}
            a{padding:12px 20px 6px;display:block;color:$black;font-size:15px;}
        }
    }
    .mobile-nav-btn{background-color:$footer-color;border:0;padding:0 15px;cursor:pointer;}
    .dropdown{position:initial;
        a{padding:8px 8px 8px 20px;text-decoration:none;display:block;transition:0.3s;width:100%;font-family:$base-font-family-bold;color:$black;
            &:hover{color:$base-primary-light;}
        }
        .open-child-menu{font-size:$base-font-size - 4;line-height:37px;height:37px;width:40px;text-align:center;cursor:pointer;}
        .dropdown-menu{width:100%;height:100%;top:0;border:0;border-radius:0;background:$input-background;margin:0;padding:0;display:block;position:absolute;border-right:1px solid $border-light;}
        
    }
    .nav-back-btn,.main-nav-back-btn{padding:8px;width:100%;cursor:pointer;transition:0.3s;font-family:$base-font-family-bold;color:$black;
        &:hover{color:$base-primary-light;}
        span{padding:0 10px;font-size:$base-font-size - 2;color:$base-secondary-light !important;}
    }
}
.mobile-navigation{
    ul{margin:0;padding:0;
        a{padding:8px 8px 8px 20px;text-decoration:none;display:block;transition:0.3s;width:100%;text-transform:uppercase;font-family:$base-font-family-bold;color:$black;cursor:pointer;
            &:hover{color:$base-primary-light;}
        }
    }
}
.side-nav{height:100vh;width:300px;position:fixed;z-index:1050;top:0;transition:0.5s;background-color:$white;overflow-x:hidden;
    .nav-header{background-color:$base-primary-light;padding:15px;padding-bottom:10px;
        a{color:$white;cursor:pointer;}
        .nav-label{text-align:left;font-size:$base-font-size + 3;display:flex;align-items:center;color:$white;padding:30px 10px 0 10px;letter-spacing:1.25px;text-overflow:ellipsis;overflow:hidden;
            > span{font-size:$base-font-size + 6;padding-right:15px;}
        }
    }
    .nav-body{padding:25px;}
    .login-container{padding:25px;
        .form-group{margin-bottom:10px;
            .nav-title{font-size: $base-font-size + 3;font-family:$base-font-family-bold;letter-spacing:1.25px;}
            .login-form-forgotpassword-div{margin-bottom:10px;}
            .login-form-forgotpassword{font-size:$base-font-size - 2;text-decoration:underline;}
            .b2b-new-customer-text{font-size:$base-font-size + 2;}
        }
        .btn{text-transform:uppercase;}
        // Change later...........
        .checkout-guest-container{display:none;}
        .social{display:none;}
    }
    .my-accounts-nav{padding:15px 20px;
        .twitter-typeahead{width:96%;}
        ul.account-menu{display:block;border:0;
            li{padding:8px 0;
                a{color:$black;font-family:$base-font-family-bold;font-size:$base-font-size;text-decoration:none;display:block;transition:0.3s;
                    &:hover{color:$base-primary-light;}
                }
            }
        }
        .btn{text-transform:uppercase;margin-top:10px;color:$btn-primary;}
    }
}
.side-nav-backdrop{position:fixed;top:0;left:0;width:100%;height:100%;background:$black;opacity:0.4;display:none;z-index:1;}

.nav-right{
    right:-300px;
}
.nav-left{
    left:-300px;
    &.navOpen{left:0;}
}
.navOpen{right:0;}

@include screensize(x-small){
    .navigation{background-color:$white;
    }
}

@include screensize(xl-small){
    .navigation{background-color:$white;
    }
}

@include screensize(small){
    .navigation{background-color:$white;
    }
}



@include screensize(medium){
    .navigation{flex-grow:1;background-color:$header-nav-link;
        .parent-nav,.link-panel-widget{display:flex;}
    }
}
