﻿@model Znode.Engine.WebStore.ViewModels.CartItemViewModel
@{

    int productId = Model.ParentProductId > 0 ? Model.ParentProductId : !string.IsNullOrEmpty(Model.ProductId) ? Convert.ToInt32(Model.ProductId) : 0;
    string _displayRemoveLink = Request.Path.Contains("Checkout") ? Model.IsAllowedTerritories ? "display:none" : "" : "";
}
<tr>
    <td class="remove-item" style="@_displayRemoveLink">
        @using (Html.BeginForm("RemoveCartItem", "Cart", new { guid = Model.ExternalId }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <a data-test-selector="linkCartItemRemove" href="javascript:void(0)" class="cart-item-remove" onclick="javascript:$($(this).closest('form').submit());" title="Remove Item"><i class="zf-close"></i></a>
        }
    </td>
    <td class="cart-item-details">
        <div class="col-xs-12 col-sm-3 col-md-2 nopadding cart-image">
            <a data-test-selector="linkCartItemDetails" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())"><img src="@Model.ImagePath" data-src="@Model.ImagePath" class="img-responsive b-lazy" alt=""></a>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-10 nopadding cart-description">
            <a data-test-selector="linkCartItemName" href="@Url.GetProductUrl(Model?.SeoPageName, productId.ToString())" class="cart-item-title">@Html.RenderBlock(Model.ProductName)</a>

            <div class="cart-item-description" data-test-selector="divCartItemDescription">
                @if (Model?.PersonaliseValuesDetail?.Count > 0)
                {
                    foreach (var item in Model.PersonaliseValuesDetail)
                    {
                        if (!Equals(item.PersonalizeName, null) && !Equals(item.PersonalizeValue, string.Empty))
                        {
                            <p data-test-selector="paraCartItemDescription">@item.PersonalizeName : @item.PersonalizeValue</p>
                        }
                    }
                }
            </div>
            <div class="group-product-list">
                @if (Model?.GroupProducts?.Count > 0)
                {
                    foreach (var item in Model.GroupProducts)
                    {
                        <p><i class="zf-caret-right"></i>@Html.RenderBlock(item.ProductName)</p>
                    }
                }
            </div>
            <div class="cart-item-description">@Html.RenderBlock(Model.CartDescription)</div>
            @if (!Model.IsAllowedTerritories)
            {
                <div id="dynamic-allowesterritories" class="status-outofstock hvr-pulse error-msg">@WebStore_Resources.AllowedTerritoriesProductError</div>
            }
        </div>
    </td>
    <td class="cart-item-unitprice" data-test-selector="colCartItemUnitPrice">
        <div class="thead-text">@WebStore_Resources.ColumnTitleItemPrice</div>
        <div class="col-xs-12 nopadding">
            @if (Model?.GroupProducts?.Count > 0)
            {
                foreach (var item in Model.GroupProducts)
                {
                    <div class="group-product-list">
                        @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode)
                    </div>
                }
            }
            else
            {
                @Helper.FormatPriceWithCurrency(Model.UnitPrice, Model.CultureCode, Model.UOM)
            }
        </div>
    </td>
    <td class="cart-item-quantity" data-test-selector="colCartItemQuantity">
        <div class="thead-text">Quantity</div>
        <div class="col-xs-12 nopadding">
            @Html.Partial("_Quantity", Model)
        </div>
    </td>
    <td class="cart-item-total" data-test-selector="colCartItemTotal">
        <div class="thead-text">Total</div>
        <div class="col-xs-12 nopadding cart-result">
            <p>@Helper.FormatPriceWithCurrency(Model.ExtendedPrice, Model.CultureCode)</p>
        </div>

    </td>
   
</tr>
<script>
    jQuery('img').on('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>