﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Models
@model ImportProcessLogsListViewModel
@using Znode.Engine.WebStore.Agents
@{ 
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
}
<div id=@Model.GridModel.FrontObjectName>
    <div class="main-wrapper">
        <div class="container">
            <div class="row user-account">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">@WebStore_Resources.LabelImportShippingAddress</h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-history right-container">
                        <div class="col-xs-12 nopadding">
                            <div class="col-xs-12 product-search nopadding">
                                <div class="shipping-address-btn">
                                    <a href="/User/ImportShippingAddress" class="btn-text btn-bg-primary pull-right" id="btnImportShippingAddress">@WebStore_Resources.LabelImportShippingAddress</a>
                                    <br />
                                </div>
                               

                                <div class="col-xs-12 filter-component">
                                    @using (Ajax.BeginForm("ImportLogs", "User", new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
                                    {
                                        <div id="filterComponent">
                                            @Html.Partial("_FilterComponent", Model.GridModel.FilterColumn)
                                        </div>
                                    }
                                </div>
                                @Html.Partial(Helper.GetThemeFilePath($"/Views/Themes/", "/Views/Shared/Controls/_PopUp.cshtml"),
                                new PopupModel()
                                {
                                    Title = WebStore_Resources.ConfirmDeleteTitle,
                                    Description = WebStore_Resources.TextConfirmDelete,
                                    ModalPopUpId = "ImportLogsDeletePopup",
                                    Buttons = new List<PopUpButtonModel>() {
                                    new PopUpButtonModel { ButtonText = @WebStore_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName = "Import.prototype.DeleteImportLogs(this)"}
                                    }
                                })
                                <div class="col-xs-12 list-container margin-top nopadding">
                                    <div class="col-xs-12 nopadding">
                                        @Html.Partial("_DynamicGrid", Model.GridModel)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

