﻿.single-page-checkout{
    .shipping-address .b2b-block{display:flex;flex-wrap:wrap;align-content:flex-start;
        .block-title{width:100%;}
        .shipping-address-block,.billing-address-block{
            padding:5px 20px;
            .b2b-form{padding:0;}
           }
        .block-content{padding:10px 0;}
        .address-change{text-align:right;float:none;order:3;width:100%;padding:0 20px 20px;align-self:flex-end;
                    a{border:1px solid $border-primary;padding:2px 9px}
        }
        .create-new-address a{border:1px solid $border-primary;padding:5px 10px;}
        .checkout-address-info select{border:1px solid $border-primary;padding:5px 10px;background-color:$input-background;margin-bottom:5px;min-width:250px;}
    }
    .review-order{
        .checkout-promotions-section{ box-shadow:0px 1px 2px 1px #c5b7b7;
            .b2b-block{box-shadow:none;
                       .block-content{padding:15px;}
            }
        }
        .cart-total-section{padding:0 !important; margin-top :0 !important;
                   .block-title{display:none;}
        }
    } 
    .b2b-block .block-title{padding:20px;}
    .cart-total .form-group{margin-bottom:15px;}
    .b2b-cart .b2b-cart-row {
        .b2b-col-width{width:125px;text-align:left;margin-right:20px;}
        .b2b-cart-item-details{padding:15px 5px;}
        .cart-item-unitprice{display:none;}
        .b2b-col-width input{border:none;pointer-events:none;background:transparent;padding:0;}
    }
    .credit-card-container{
        .nopadding{padding:0;}
        .styled-input{margin-bottom:15px;
            label{margin-bottom:5px;}
        }
        .form-control{margin:5px 0 0 0 !important;}
        .form-group{margin-bottom:15px;}
        .nav-tabs{padding:15px 0;
            li a{background-color:#f5eded;color:$base-primary;border-color:#f5eded #f5eded transparent;padding:15px;}
            li a.active{background-color:$base-primary;color:$white;}
        }
        .tab-content{padding:20px 0 0 0;display:block;}
        .section-heading{font-size:$base-font-size + 3;border-bottom:1px solid $border-default;font-weight:600;color:#6a6367;padding-bottom:10px; display:none;}
        .save-cart{margin:0;
            label{width:100%;font-weight:bold;
                &:before{margin-top:10px !important;}
                &:after{margin-top:14px !important;}
            }
            .input-radio_label{display:flex;}
            .input-radioButton{width:auto;}
            ul{padding:0;display:flex;flex-wrap:wrap;
                img{float:left !important;margin-left:25px;}
            }
        } 
        .credit-cart-form label{font-weight:bold;}
    }
}
.b2b-checkout-address-popup{
    .quotebutton button{width:auto !important;}
    .edit-address-form{padding:0;}
}

@include screensize(small){
    .credit-card-container ul > .save-cart{width:50%;max-width:50%;}
}
@include screensize(medium){
    .credit-card-container ul > .save-cart{width:25%;max-width:25%;}
    .single-page-checkout .b2b-cart .b2b-cart-row{
        .b2b-cart-item-details{
            img{max-width:50px;min-height:50px;margin-right:10px;}
            .cart-item-title{font-size:$base-font-size;}
        }
        .b2b-col-width{align-self:flex-start;margin-top:20px;
            &.cart-item-quantity{width:60px;}
        }
    }
}

.single-page-checkout .b2b-cart .cart-item-total{
    text-align:right !important;
}