﻿@{
    ViewBag.Title = PIM_Resources.TitlePIM + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@PIM_Resources.HeadingProduct</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/ProductAttributeFamily/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-attribute-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelProductAttributeConfiguration</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/CategoryAttributeFamily/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-attribute-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelCategoryAttributeConfiguration</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/Products/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-products"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelProducts</h3>
                        <span>Manage products and inventory in your store.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/Category/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-categories"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelCategories</h3>
                        <span>Categories are hierarchical groupings of products in your catalog (example: Apparel, Electronics, etc).</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/Catalog/CatalogList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-catalog"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelCatalogs</h3>
                        <span>Catalogs are groupings of selected categories that you want to display in your store (example: Summer Catalog).</span>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/AddonGroup/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-add-on-group"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelAddOnGroup</h3>
                        <span>Add-Ons are product options that the user can select during checkout. For example, "Gift Wrap", etc.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/Brand/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-brand"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelBrand</h3>
                        <span>Manage a reference list of manufacturers or brands for products in your catalog.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/PIM/Vendor/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-vendors"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelVendors</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
    </section>
</div>