﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model SearchRequestViewModel
@{
    //Check if category ID is present or not
    if (Model.CategoryId <= 0)
    {
        ViewBag.Title = "Search";
    }
    int portalId = PortalAgent.CurrentPortal.PortalId;
}
<div id="layout-category" data-category="@Model.SearchTerm" data-categoryId="@Model.CategoryId" class="col">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a>Search</div>
            </div>
        </div>
    </div>
    <div class="row b2b-products-list">
        <div class="container">
            <div class="row mb-5">
                <div class="col-12">
                    <h1 class="page-title">Search</h1>
                </div>
                <div id="facets" class="col-12 col-lg-3 p-0 side-nav nav-right b2b-side-bar">
                    <div class="d-lg-none">
                        <div class="col-12 text-right nav-header">
                            <a href="JavaScript:void(0);" class="CloseNav p-0 close-icon"></a>
                            <div class="nav-label"><div class="cut-text"> Sort & Filter</div></div>
                        </div>
                    </div>
                    @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                    <div class="col-12 p-0 b2b-compare-product-list">
                        <div id="compareProductList">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-9 b2b-product-list">
                    @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                </div>
                <div class="col-12 p-0">
                    <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "Recently View Product", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col advertisement-banner mt-4 mt-md-0">
                    <!--Advertisement Banner Widget-->
                    <z-widget>@Html.WidgetPartial("OfferBanner", "AdvertisementBanner", "110", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), Model.PortalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>
