﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@{
    Model.ShippingAddress.RoleName = Model.RoleName;
    Model.BillingAddress.RoleName = Model.RoleName;
    Model.ShippingAddress.AddressCount = Convert.ToInt32( Model?.AddressList?.Count());
    Model.BillingAddress.AddressCount = Convert.ToInt32(Model?.AddressList?.Count());
    Model.ShippingAddress.OtherAddressId = Model.BillingAddress.AddressId;
    Model.BillingAddress.OtherAddressId = Model.ShippingAddress.AddressId;
}
<div class="col-xs-12 nopadding">
    <div id="shipping-content" class="col-xs-12 col-sm-6 col-md-12 nopadding margin-bottom shipping-address-content">
        <h3 class="title"><span>1</span>@WebStore_Resources.TitleShippingAddress</h3>
        @{ Html.RenderPartial("../Checkout/_DisplayAddress", Model.ShippingAddress, new ViewDataDictionary { { "addressType", "shipping" } });}
    </div>
    <div id="BillingAddressContainer" class="col-xs-12 col-sm-6 col-md-12 nopadding margin-bottom">
        <h3 class="title"><span>2</span>@WebStore_Resources.TitleBillingAddress</h3>
        <div id="billing-content">
            @{ Html.RenderPartial("../Checkout/_DisplayAddress", Model.BillingAddress, new ViewDataDictionary { { "addressType", "billing" } });}
        </div>
    </div>
</div>