﻿@{
    int quoteId = (int)ViewData["QuoteId"];
}

<div id="layout-checkout-receipt" class="main-wrapper">
    <div class="container checkt-receipt">
        <div class="row">
            <div class="col-xs-12 nopadding">
            </div>
            <div class="col-xs-12 nopadding">
                @Html.Hidden("QuoteId", quoteId)
                @if (quoteId > 0)
                {
                    <h4>@WebStore_Resources.QuoteUpdatedThankyouText</h4>

                    <p>
                        <i class="zf-caret-right"></i>&nbsp; @WebStore_Resources.QuoteNoDisplayText <a href="/User/QuoteView?omsQuoteId=@quoteId"><strong>#@quoteId</strong></a>
                    </p>

                    if (User.Identity.IsAuthenticated)
                    {
                        <p>
                            <i class="zf-caret-right"></i>&nbsp; @WebStore_Resources.GotoQuoteHistoryText <a href="/User/QuoteHistory">@WebStore_Resources.LinkTextQuoteHistory</a>.
                        </p>
                    }

                    <div class="margin-top-bottom">
                        <a href="/" class="btn-text btn-color-primary pull-right">@WebStore_Resources.ButtonContinueShopping</a>
                    </div>
                }
                else
                {
                    <h3 class="margin-top-bottom">@WebStore_Resources.ErrorUnablePlaceOrder</h3>
                }
            </div>

        </div>
    </div>
</div>
<script src="/Scripts/abandonedCart.js"></script>
<script src="/Scripts/abandonedCart.receipt.js"></script>

