﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div class="col-xs-12 nopadding cart-promocode">
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <h2 class="aside-panel collapse in" data-toggle="collapse" data-target="#cart-apply-promocode">Discount Codes</h2>
        <div id="cart-apply-promocode" class="aside-panel-block collapse in">
            <div class="col-xs-12 nopadding md-apply-code-block">
                <label class="md-code-label">@WebStore_Resources.EnterCouponMessage</label>
                @if (Model.Coupons?.Count > 0)
                {
                    <input type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input" size="40" maxlength="100" />
                }
                else
                {
                    <input type="text" id="promocode" name="discountCode" class="form-input" size="40" maxlength="100" />
                }
                <div class="input-group-btn md-code-button">
                    <button type="submit" class="btn-text btn-color-primary">@WebStore_Resources.ButtonApply</button>
                </div>
                <div id="couponMessageContainer" class="coupon-msg">
                    <div class="col-xs-12 nopadding">
                        @if (Model.Coupons?.Count > 0)
                        {
                            foreach (var item in Model.Coupons)
                            {
                                <p class=@(item.CouponApplied ? "success-msg" : "error-msg")><a href="JavaScript:void(0);" class="cart-item-remove" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"><i class="zf-close"></i></a> @item.Code - @item.PromotionMessage </p>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>