﻿@using Znode.Engine.WebStore.Agents
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>@Html.Raw(ViewBag.Title)</title>
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    string faviconimage = !string.IsNullOrEmpty(_portal.FaviconImage) ? MediaPaths.MediaPath + _portal.FaviconImage : $"favicon.ico";
    string _cssname = $"{_fileLocation}/Content/css/{_portal.Css}.min.css";
}
<link href="@faviconimage" rel="shortcut icon" type="image/x-icon" onerror="this.onerror = null; this.src = 'favicon.ico'">
<meta name="description" content="@Html.Raw(ViewBag.Description)" />
<meta name="keywords" content="@Html.Raw(ViewBag.Keywords)">



<link href="@Helper.GetThemeFilePath(_fileLocation, "/Content/bootstrap-3.3.7/css/bootstrap.min.css")" rel="stylesheet" async/>
<link href="@Helper.GetThemeFilePath(_fileLocation, "/Content/css/" + _portal.Css + ".min.css")" rel="stylesheet" async/>

<script src="@Helper.GetThemeFilePath(_fileLocation, "/Content/bootstrap-3.3.7/js/bootstrap.min.js")" async></script>
<script src="@Helper.GetThemeFilePath(_fileLocation, "/Scripts/lib/event.min.js")" async></script>
