﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="pull-right">
        <div class="top-links-area">
            <div class="top-links-icon visible-xs"><a class="top-nav-show" href="javascript:void(0)">links <span class="caret"></span></a></div>
            <ul class="links">
                <li>@Html.ActionLink("My Account", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account" })</li>
                <li><a href="/User/GetOrderDetails" title="Track Order">Track Order</a></li>
                <li class="quick-order-li">
                    <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
                </li>
                <li><a href="/User/Wishlist" title="My Wishlist">My Wishlist</a></li>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="/User/Logout" class="log-off" id="log-off">Log Out</a></li>
            </ul>
        </div>
    </div>
    <p class="welcome-msg visible-md visible-lg">Welcome @User.Identity.GetUserName() !</p>
}
else
{
    <div class="pull-right">
        <div class="top-links-area">
            <div class="top-links-icon visible-xs"><a class="top-nav-show" href="javascript:void(0)">links <span class="caret"></span></a></div>
            <ul class="links">
                <li>@Html.ActionLink("My Account", "Dashboard", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage account" })</li>
                <li><a href="/User/GetOrderDetails" title="Track Order">Track Order</a></li>
                <li class="quick-order-li">
                    <z-widget>@Html.WidgetPartial("QuickOrder", "QuickOrder", "123", "PortalMapping", 4)</z-widget>
                </li>
                <li><a href="/User/Wishlist" title="My Wishlist">My Wishlist</a></li>
                <li><a href="/blog" title="Blog">Blog</a></li>
                <li><a href="javascript:void(0)" onclick="User.prototype.LoginMethod()" id="loginLink">@WebStore_Resources.LabelLoginStatus</a></li>
            </ul>
        </div>
    </div>
    <p class="welcome-msg visible-md visible-lg">Welcome Guest !</p>
}
