﻿@using Znode.Engine.WebStore.ViewModels
@model BlogNewsListViewModel
@using Znode.Engine.WebStore.Agents
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string imagePath = PortalAgent.CurrentPortal.MediaServerUrl;
}
<!-- Breadcrumbs -->
<div class="container-fluid breadcrumb-container">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding">
                <div id="breadCrumb"><a href="/">Home</a> / @Model.BlogNewsType</div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">
    <div class="container">
        <div class="row contain-pages">
            @using (Html.BeginForm(actionName, controllerName, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                if (Model?.BlogNewsList?.Count > 0)
                {
                    <div class="col-xs-12 nopadding">

                        <ul class="blog-news" style="padding:0;margin:0;">
                            @foreach (var blogNews in Model.BlogNewsList.AsEnumerable().Reverse())
                            {
                                <li>
                                    @if (!Equals(blogNews.MediaPath, null))
                                    {
                                        <img src="@imagePath/@blogNews.MediaPath" class="img-responsive img-thumbnail" data-src="@imagePath/@blogNews.MediaPath" alt="Image" title="@blogNews.BlogNewsTitle" />
                                    }
                                    <div class="col-xs-12 nopadding md-blog-details">
                                        <div class="col-xs-12 nopadding md-blog-title">
                                            <h2><a href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)">@blogNews.BlogNewsTitle</a></h2>
                                        </div>
                                        <div class="col-xs-12 nopadding md-blog-overview">
                                            <p>@blogNews.BodyOverview</p>
                                        </div>
                                        <div class="col-xs-12 nopadding md-blog-read-more">
                                            <a class="btn-text btn-color-primary" href="@Url.GetBlogNewsUrl(blogNews?.SEOUrl, null, blogNews.BlogNewsId, blogNews.BlogNewsType)">Read More</a>
                                        </div>
                                        <div class="col-xs-12 nopadding md-blog-all-info">
                                            <span><i class="zf-calendar"></i> @blogNews.CreatedDate.ToDateTimeFormat()</span>
                                            @if (!string.IsNullOrEmpty(blogNews.Tags))
                                            {
                                                <span><i class="zf-md-tag"></i> @blogNews.Tags</span>
                                            }
                                        </div>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
                else
                {
                    <span>@string.Format(WebStore_Resources.TextForEmptyBlogNewsList, Model.BlogNewsType)</span>
                }
            }
        </div>
    </div>
</div>