﻿.order-manage{transition:none !important;}
.save-cart ul{margin:0; padding:0;}
.account-manage #AccountAddressList .ManageFilter,.customer-getaddresslist .ManageFilter{display:none;}
.order-list .grid-action{width:146px;}
.quantity, .cartquantity{width:60px !important;}

// OMS - RMA Manager.
.gift-card-status {border-bottom:1px solid $border-bgcolor-primary; padding-bottom:10px; margin-bottom:20px;}

// OMS Order Create.
.orders-aside-panel li {color:$text-fgcolor-default;
    &.tab-selected a .change{color:$base-color-primary;}
    a{border-bottom:none !important;margin-left:0 !important;
        &:hover .change{color:$base-color-primary;}
        .change{text-transform:capitalize;color:black;padding-right:20px;}
    }    
    .tab-details{padding:50px 5px 10px 20px;border-bottom:1px solid $base-color-white;display:inline-block;width:100%;color:black;
        p{font-size:11px;text-transform:capitalize;margin-bottom:0;color:black;
          &.user-name {text-transform:none;}
        }
        table{width:100%;
            th,td{padding:5px 5px 5px 0;text-transform:capitalize;font-weight:normal;}
            .product-name{width:110px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
            .sku-name{width:50px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
        }
    }    
}
.orders-aside-panel li.disabled{cursor:not-allowed;opacity:0.5;pointer-events:none;
    a:hover {background-color:transparent !important;color:$text-fgcolor-default !important;}
}
.coupons-promotions{margin-top:-105px;float:left;}
.cart-total {
    .cart-summary {min-height:100px;
                   input[type="number"]{width:35%;}
       }
        
}
// Add To Cart Popover.
.add-to-cart-popover{z-index:9999;min-width:400px;border-radius:0;padding:0;margin-left:100px !important;margin-top:-40px;
    .arrow{top:56px !important}
    .popover-content{padding:0;}  
    .popover-title{background-color:$base-color-tertiary;padding:10px;font-size:$base-font-size + 2px;border-radius:0;font-family:$base-font-family-bold;}    
    .product-details{max-height:225px;min-height:150px;overflow-y:auto;overflow-x:hidden;padding:5px 10px;font-size:$base-font-size;
         h3{margin:0;padding-bottom:5px;font-weight:600;color:$base-color-primary;}         
         .product-price{font-weight:600;margin-bottom:5px;
            h4{float:left;margin:0;padding:0 10px 0 0;}
            .cut-price{color:#c3c3c3;padding-left:5px;text-decoration: line-through;font-size:$base-font-size;font-weight:normal;}
         }         
         h4{margin:0;padding-bottom:4px;font-size:$base-font-size + 1;}
         .form-group{margin-top:2px;margin-bottom:2px;
            .control-label{width:120px;}            
            .dynamic-msg{padding-left:120px;}
         }
         .addrons-attributs{
                h4.attribute-label{padding:5px 0;font-size:$base-font-size + 1;}
                .swatch-img {margin:0;padding:0;
                    li {display:block;cursor:pointer;min-width:25px;min-height:22px;margin-bottom:5px;position:relative;}                    
                    input[type="checkbox"], input[type="radio"]{width:100%;height:100%;}                    
                }                
                // Color Swatch Img.
                .color-swatch li label{
                    i{font-size: 26px;line-height: 27px;}
                    &.active img{border:1px dashed $base-color-primary;}
                    img.scratchattribute{opacity:0.3;border:1px solid $border-bgcolor-default !important;background:url('../../Images/scratch.png');background-size:100% 100%;}
                }                
                .size-swatch{padding:0;margin:0;
                           li{display:inline-block;cursor:pointer;margin-bottom: 5px;line-height: 26px;
                              label{text-align:center;margin:0;border:1px solid $border-bgcolor-primary;padding:3px 6px;background-color:$base-color-white;line-height:14px;font-weight:normal;font-size:13px;min-width:25px;min-height:22px;
                                    img{max-width:40px;}
                                    &:hover{border:1px solid $base-color-primary;}
                                    &:before,&:after{color:transparent;}                            
                                }
                              label.active{border:1px dashed $base-color-primary;}
                              label.scratchattribute{background:url('../Images/scratch.png');background-size:100% 100%;}
                           }
                 }
                .group-product-list{border-bottom:1px solid $border-bgcolor-primary;margin-bottom:5px;padding-top:5px;}
                .cut-price{color:#c3c3c3;padding-left:5px;text-decoration: line-through;font-size:$base-font-size;font-weight:normal;}
         }
         .status-outofstock{color:$base-color-primary;font-weight:600;}
    }
}
.add-to-cart-panal .simpleproductquantity{width:65px;}
.order-createorder .btn-narrow-icon,.quote-createquote .btn-narrow-icon{padding:0;line-height:34px;height:34px;width:35px;border:0;}
.order-createorder .btn-narrow-icon{border:1px solid $base-color-secondary !important;margin-right:5px;}
.servicerequest-create .main-container {margin-left: 0 !important;}
body.nav-open.servicerequest-create .media-upload-panel section.main-container {margin-left: 255px !important;}

// Expired Gift Card.
.giftcard-list .filter-component .filter-item-content{margin-left:135px;}
.expired-gift-card {float:left;position:relative;top:-47px;left:-232px;
   select {border-radius:2px; min-width:121px; padding-left:10px;}
}
.shipping-method-list .z-Edit::before{padding-left:10px;}
.giftcard-edit .btn-narrow-icon {
    border: 1px solid #5db043 !important;
    margin-right: 5px;
}
.giftcard-create .btn-narrow-icon {
    border: 1px solid #5db043 !important;
    margin-right: 5px;
}
//For Firefox Only.
@-moz-document url-prefix() {
   .expired-gift-card {left:-234px;
        select {padding-left:5px;}
    }
   .giftcard-list .filter-component .filter-item-content{margin-left:138px;}
}

//For Mac Only.
.mac-os .expired-gift-card {left:-232px;}

.refund-order-layout {
    .title-container {position:static;}
    .page-container {padding:20px;}
}
.refund-order-table {
  th:first-child, td:first-child, th:nth-child(2), td:nth-child(2) {width:15%;}
  th:nth-child(3), td:nth-child(3) {width:16%;}
  th:nth-child(4), td:nth-child(4), th:nth-child(5), td:nth-child(5) {width:27%;}
}

.promotion-create .coupon-list,.promotion-edit .coupon-list{height:370px;overflow:auto;
    table{border:1px solid $border-bgcolor-primary;}
}

//Note List.
.table tr td p {margin:0;}

//No Filter.
.customer-getaddresslist, .customer-getaffiliate, .account-manage, .servicerequest-getcaserequestmailhistory {
    .dynamic-grid .grid-control {margin-top:0;}
} 
//Order Manage Title
.order-manage-title{display:flex;justify-content:space-between;align-items:center;
    h1{overflow:initial;text-overflow:initial;}
}

//Order sub categories title
.order-subtitle{padding-top:10px;padding-left:20px;padding-right:10px;
                h4{border-bottom:0.5px solid #ddd;font-size:15px;padding-bottom:5px;}
}

// Order Manage Container.
.order-manage-container{
    .order-information{width:65%;float:left;}
    .customer-information{width:33%;float:left;margin-left:2%;
        .control-md{line-height:37px;}
    }
    .order-notes{width:25%;float:left;}
    .control-lg{width:35%;font-size:12px;line-height:34px;}
    .edit-action{padding-left:2px !important;font-size:12px !important;}
    .cart-total .cart-summary{
        label{padding-right:0px;}
        .edit-action{right:0;top:10px;}
        input[type="text"]{width:50px;}
    }
    .price-input{width:50px;}
    .cart-promocode .control-lg{height:auto !important;
        .green-color{margin:0 !important;}
    } 
    .cart-products .table-body .cartItem .line-items{
        li{padding:5px 0; word-break:break-word;}
        .sp-returned-reason select{min-width:90%;max-width:90%;}
    }
    .order-notes-padding{padding:10px;}
    .cust-infomation-height{line-height:32px;}
    
    //btn narrow with icon
    .btn-narrow-icon{height:30px;width:22px;margin-left:5px !important;line-height:30px !important;font-size:10px;padding:0 5px;border:1px solid $base-color-secondary;border-radius:3px;background-color:$base-color-white;
                &:nth-child(2){margin-left:2px !important;}
    }
}
.shipping-method-details{
    .dev-custom-shipping-edit{a{padding:0 15px;line-height:20px;}}
    .shipping-text-block{
        .form-group{margin-bottom:0;}
        .z-close{color:$base-color-secondary;}
    }
    .shipping-method-list{line-height:26px;padding-bottom:10px;}
}
.order-information .control-md{line-height:37px;}
#productListDiv .btn-text-icon{color:$base-color-primary;}

//OMS Items Ordered
.sp-image{width:90px !important;min-width:90px;text-align:center !important;}
.sp-total, .sp-unit-price,.sp-refundlist{width:100px !important;min-width:100px;}
.sp-status, .sp-shipping-status, .sp-tracking-number, .sp-sku, .sp-returned-reason {
    width: 120px;min-width:120px;max-width: 120px !important;padding-right: 5px !important;word-break:break-all;
}
.sp-product-name {
    flex: 1;
}
.sp-quantity, .sp-shipping{width:80px !important;min-width:80px;}
.sp-actions{width:110px !important;min-width:110px;
    li:first-child {
        width: auto !important;
    }
}

#ZnodeOmsQuote {
    .grid-action .action-ui li{border-right:0;
        &:first-child{border-left:0;}
    }
}
.coupon-list-table{
    table tr td{border-right:0;border-left:0;}
}
.payment-status-panel .savedCreditCard{
    span{padding:15px;}
    .form-control{width:100% !important;margin-left:15px;}
}
.order-createorder .order-saved-credit {
    .lbl{padding:15px 19px 15px 0px;float:left;}
    .form-control{width:45% !important;float:left;margin:5px 0 0;}
}

//Customer Address & Billing Address
.address-block{font-family:$base-font-family;font-size:12px;}

//Order Summary
.order-label{label{margin-left:6px !important;}}
.price-addskuprice,.price-editskuprice{.dropdown-list-container {
    top: 35px;
    min-width: 176px;
}}
.order-manage .address-note{color:#A9A9A9;}
.billing-info .form-group,.cust-info .form-group,.shipping-info .form-group{margin-left:10px;}
// Media Query.
@include screensize(medium) {
    .price-editskuprice, .price-addskuprice{
        table tbody input[type="text"] {max-width:195px;}
    }
    .order-manage-container .order-information .form-group label{font-size:12px;}
    .order-manage-container .control-lg{font-size:11px !important ; width:34% ;}
    .order-manage-container .control-lg{font-size:11px !important;}
    .order-manage-container .order-information .order-controLg-width{width:40% !important;}
    .display-inline-btn{display: contents;}
    .order-manage-container .edit-action {padding-left: 0px !important; font-size: 8px !important;}

    .address-block{font-size:11px !important;}
    .order-manage-container .update-order-status{height:auto !important;}
}
@include screensize(desktop) {
    // Order manage container
    .order-manage-container {
        .order-information {
            width: 65%;
            float: left;
        }

        .customer-information {
            width: 33%;
            float: left;
        }

        .order-notes {
            width: 25%;
            float: left;
        }

        .customer-information + .order-notes {
            margin-left: 2%;
        }
    }
.order-manage-container .control-lg{width:35% !important;font-size:12px !important;line-height:34px;}
    input[type="text"]{height:34px;}
    .order-manage-container .edit-action {padding-left: 2px !important;font-size: 12px !important;}
    .address-block{font-size:12px !important;}
    #ddlOrderStatus{font-size:10px;}
    .order-manage-container .order-information .order-controLg-width{font-size:12px !important;}
    //btn narrow with icon
    .order-manage-container .btn-narrow-icon{height:34px;width:25px;margin-left:5px !important;line-height:34px !important;font-size:10px;padding:0 5px;border:1px solid $base-color-secondary;border-radius:3px;background-color:$base-color-white;}

}
.sp-tracking-number{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;max-width:50px;}
@include screensize(xlarge) {
       .price-editskuprice,.price-addskuprice{ 
        table tbody input[type="text"] { max-width:300px;}}
}