﻿// Owl Carousel Default Code.
.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y;
    .item img {display:block;margin:0 auto;}
    .owl-wrapper{position:relative;-webkit-transform:translate3d(0px, 0px, 0px);display:flex !important;
            &:after {content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
    }    
    .owl-wrapper-outer{overflow:hidden;position:relative;width:100%;}
    .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out;}	
    .owl-item{display:flex;
        .item{display:flex;width:100%;justify-content:center;}
    }
    .owl-wrapper,.owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);}
    
    .carousel-caption{position:absolute;text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);z-index:10;top:50%;transform:translate(0,-50%);font-family:$base-font-family-bold;
        .first{font-size:24px;text-transform:capitalize;color:$white;position:relative;margin-bottom:0;font-weight:normal;}
        h3{font-size:72px;text-transform:uppercase;color:$white;position:relative;margin:0;font-weight:normal;}
        div{font-size:18px;color:$white;position:relative;margin-bottom:0;font-weight:normal;}
        a{position:relative;margin-left:0;padding-right:15px;margin-top:10px;
            i{vertical-align:middle; line-height:32px;padding-left:5px;}
        }
    }    
    
     // Alignment Class Set By Admin.
    .carousel-caption.Left{text-align:left;}
    .carousel-caption.Right{text-align:right;}
    .carousel-caption.Center{text-align:center;width:100%;}    
    .green{background: #638c2f;}
}
.owl-controls {-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.owl-pagination{display:none;}
.owl-theme .owl-controls{text-align:center;
    .owl-buttons div{display:inline-block;zoom:1;*display:inline;border-radius:0;cursor:pointer;
        span{color:$base-secondary-light;
            &:before{font-size:$base-font-size + 4;padding:15px;background-color:$header-nav-link;}
            &:hover:before{background-color:$base-primary-light;}
        }
    }
    .owl-page{display:inline-block;zoom:1;*display:inline;
        span{display:block;width:12px;height:12px;margin:5px 7px;filter:Alpha(Opacity=90);opacity:.9;background:$base-secondary-light;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;border:2px solid $white;}
        span.owl-numbers{height:auto;width:auto;color:$white;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;border:2px solid $white;}
    }        
}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter:Alpha(Opacity=100);opacity:1;text-decoration:none;background-color:$base-secondary-light;}
.owl-theme .owl-controls .owl-page.active span,.owl-theme .owl-controls.clickable .owl-page:hover span{filter:Alpha(Opacity=90);background:$base-secondary-light !important;border:2px solid $white;opacity:0.9;}

// This Code is only for Slider widget.
.slider{    
    .item img{display:block;width:100%;height:auto;}
    .owl-pagination{display:block;position:absolute;bottom:0;width:100%;}
    .owl-buttons{
        .owl-prev{float:left;position:absolute;top:50%;transform:translate(0,-50%);left:0;}
        .owl-next{float:right;position:absolute;top:50%;transform:translate(0,-50%);right:0;}
    }    
}

//  used for all Product list widget arrows only
.b2b-bundle-carousel .owl-pagination{display:none !important;}
.product-list-widget,.b2b-bundle-carousel,.category-list-widget{padding: 0 5px;position:relative;
    .owl-carousel{position:inherit;
        .owl-controls{
            .owl-pagination{display:block;}
            .owl-buttons{
                .owl-prev{position:absolute;top:40%;left:0;}
                .owl-next{position:absolute;top:40%;right:0;}
            }
        }
    }
}
.b2b-bundle-carousel{
    .owl-carousel .owl-controls .owl-buttons{
        .owl-prev{left:-20px;}
        .owl-next{right:-20px;}
    }
}

.AdvertisementBanner{
    .owl-controls{
        .owl-pagination{display:block;margin-top:10px;}
        .owl-buttons{
            .owl-prev,.owl-next{position:absolute;top:50%;transform:translate(0, -50%);}
            .owl-prev{left:-5px;}
            .owl-next{right:-5px;}
        }
    }
} 

// For Box View.
.Boxed{margin:0 auto;}

// Media Query.
@include screensize(x-small) {
    .owl-carousel{
        .carousel-caption{
            .first{font-size:16px;}
            h3{font-size:30px;}
            div{font-size:14px;}
        }
    }
}
@include screensize(small) {
    .Boxed{width:750px;}
    .owl-carousel{
        .item img {height:auto;}
        .carousel-caption.Left{left:8%;}
        .carousel-caption.Right{right:8%;}
    }

    //  used for all Product list widget arrows only
    .product-list-widget,.category-list-widget{
        .owl-carousel .owl-controls .owl-buttons{
            .owl-prev{left:-20px;}
            .owl-next{right:-20px;}
        }
    }
}
@include screensize(medium) {
    .Boxed{width:992px;}
    .owl-carousel{
        .carousel-caption{
                .first{font-size:24px;}
                h3{font-size:72px;}
                div{font-size:18px;}
        }
    }
}
@include screensize(desktop) {
    .Boxed{width:1170px;}
}
@include screensize(large) {
}
@include screensize(x-large) {
    .owl-carousel{    
        .carousel-caption.Left{left:10%}
        .carousel-caption.Right{right:10%;}
    }
}

// Owl Carousel CSS3 Transitions.
.owl-origin{-webkit-perspective:1200px;-webkit-perspective-origin-x:50%;-webkit-perspective-origin-y:50%;-moz-perspective:1200px;-moz-perspective-origin-x:50%;-moz-perspective-origin-y:50%;perspective:1200px}
.owl-fade-out{z-index:10;-webkit-animation:fadeOut .7s both ease;-moz-animation:fadeOut .7s both ease;animation:fadeOut .7s both ease}
.owl-fade-in{-webkit-animation:fadeIn .7s both ease;-moz-animation:fadeIn .7s both ease;animation:fadeIn .7s both ease}
.owl-backSlide-out{-webkit-animation:backSlideOut 1s both ease;-moz-animation:backSlideOut 1s both ease;animation:backSlideOut 1s both ease}
.owl-backSlide-in{-webkit-animation:backSlideIn 1s both ease;-moz-animation:backSlideIn 1s both ease;animation:backSlideIn 1s both ease}
.owl-goDown-out{-webkit-animation:scaleToFade .7s ease both;-moz-animation:scaleToFade .7s ease both;animation:scaleToFade .7s ease both}
.owl-goDown-in{-webkit-animation:goDown .6s ease both;-moz-animation:goDown .6s ease both;animation:goDown .6s ease both}
.owl-fadeUp-in{-webkit-animation:scaleUpFrom .5s ease both;-moz-animation:scaleUpFrom .5s ease both;animation:scaleUpFrom .5s ease both}
.owl-fadeUp-out{-webkit-animation:scaleUpTo .5s ease both;-moz-animation:scaleUpTo .5s ease both;animation:scaleUpTo .5s ease both}
@-webkit-keyframes empty {
0%{opacity:1}
}
@-moz-keyframes empty {
0%{opacity:1}
}
@keyframes empty {
0%{opacity:1}
}
@-webkit-keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@-moz-keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@keyframes fadeIn {
0%{opacity:0}
100%{opacity:1}
}
@-webkit-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@-moz-keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@keyframes fadeOut {
0%{opacity:1}
100%{opacity:0}
}
@-webkit-keyframes backSlideOut {
25%{opacity:.5;-webkit-transform:translateZ(-500px)}
75%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(-200%)}
}
@-moz-keyframes backSlideOut {
25%{opacity:.5;-moz-transform:translateZ(-500px)}
75%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;-moz-transform:translateZ(-500px) translateX(-200%)}
}
@keyframes backSlideOut {
25%{opacity:.5;transform:translateZ(-500px)}
75%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
100%{opacity:.5;transform:translateZ(-500px) translateX(-200%)}
}
@-webkit-keyframes backSlideIn {
0%,25%{opacity:.5;-webkit-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-webkit-transform:translateZ(-500px)}
100%{opacity:1;-webkit-transform:translateZ(0) translateX(0)}
}
@-moz-keyframes backSlideIn {
0%,25%{opacity:.5;-moz-transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;-moz-transform:translateZ(-500px)}
100%{opacity:1;-moz-transform:translateZ(0) translateX(0)}
}
@keyframes backSlideIn {
0%,25%{opacity:.5;transform:translateZ(-500px) translateX(200%)}
75%{opacity:.5;transform:translateZ(-500px)}
100%{opacity:1;transform:translateZ(0) translateX(0)}
}
@-webkit-keyframes scaleToFade {
to{opacity:0;-webkit-transform:scale(.8)}
}
@-moz-keyframes scaleToFade {
to{opacity:0;-moz-transform:scale(.8)}
}
@keyframes scaleToFade {
to{opacity:0;transform:scale(.8)}
}
@-webkit-keyframes goDown {
from{-webkit-transform:translateY(-100%)}
}
@-moz-keyframes goDown {
from{-moz-transform:translateY(-100%)}
}
@keyframes goDown {
from{transform:translateY(-100%)}
}
@-webkit-keyframes scaleUpFrom {
from{opacity:0;-webkit-transform:scale(1.5)}
}
@-moz-keyframes scaleUpFrom {
from{opacity:0;-moz-transform:scale(1.5)}
}
@keyframes scaleUpFrom {
from{opacity:0;transform:scale(1.5)}
}
@-webkit-keyframes scaleUpTo {
to{opacity:0;-webkit-transform:scale(1.5)}
}
@-moz-keyframes scaleUpTo {
to{opacity:0;-moz-transform:scale(1.5)}
}
@keyframes scaleUpTo {
to{opacity:0;transform:scale(1.5)}
}