﻿@using Znode.Engine.Admin.ViewModels;
@model SearchProfileViewModel
<div id="searchfields">
    <div class="panel-body">
        <div class="tab-pane fade in active padding-bottom">
            <div class="col-xs-12 nopadding">
                @if (Model.PublishCatalogId > 0)
                {
                    if (Model.SearchableAttributesList?.Count > 0)
                    {
                        <div class="col-xs-12 padding-rl-5">
                            <div class="pull-right margin-top-bottom">
                                <button type="button" onclick="return Search.prototype.AddAttribute()" class="btn-text btn-text-secondary pull-right">@Admin_Resources.Add</button>
                            </div>
                        </div>
                    }
                    <div>
                        <span id="errorSearchableAttributes" class="error-msg one-attribute-msg text-center padding-top"></span>
                    </div>
                    <div class="col-xs-12 nopadding clearfix">
                        @if (Model?.SearchableAttributesList?.Count > 0)
                        {
                            <div id="searchableAttributes" class="searchable-attribute-block">
                                @{
                                    var count = Model.SearchProfileId > 0 ? Model.SearchableAttributesList.Count : 1;
                                    for (int i = 0; i < count; i++)
                                    {
                                        string divId = $"div{Model.SearchableAttributesList[i].AttributeCode}";
                                        <div class="col-xs-12 nopadding">
                                            <div id="@divId" class="col-xs-12 padding-rl-5 attributes clearfix">
                                                <div class="left-section">
                                                    <span class="addedattributes" data-test-selector="spn@(Model.SearchableAttributesList[i].AttributeName)">@Model.SearchableAttributesList[i].AttributeName</span>
                                                    <input type="hidden" id="SearchableAttributesList[@i].AttributeName" name="SearchableAttributesList.Index" value=@i data-test-selector="lblSearchableAttributesList[@i].AttributeName">
                                                    <input type="hidden" id="SearchableAttributesList[@i].AttributeCode" name="SearchableAttributesList[@i].AttributeCode" value="@Model.SearchableAttributesList[i].AttributeCode" class="AttributeCodes" data-test-selector="lbl@(Model.SearchableAttributesList[i].AttributeCode)">
                                                    <input type="hidden" id="SearchableAttributesList[@i].IsUseInSearch" name="SearchableAttributesList[@i].IsUseInSearch" value="true" data-test-selector="lblSearchableAttributesList[@i].IsUseInSearch">
                                                </div>
                                                <div class="right-section search-field-input">
                                                    @Html.TextBoxFor(m => Model.SearchableAttributesList[i].BoostValue, new { Name = "SearchableAttributesList[" + i + "].BoostValue", id = "SearchableAttributesList[" + i + "].BoostValue", value = Model.SearchableAttributesList[i].BoostValue, @class = "BoostValue", @number = i })
                                                    <a onclick="Search.prototype.RemoveAttribute('@divId')" class="search-close-icon"><i class="z-close-circle"></i></a>

                                                </div>

                                                @Html.ValidationMessageFor(model => model.SearchableAttributesList[i].BoostValue, null, new { id = "errorAttributeLength" + i })
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="col-xs-12 nopadding margin-top-bottom">
                        <span class="padding-rl-5" data-test-selector="val@(Admin_Resources.ErrorPleaseSelectCatalog)">
                            @Admin_Resources.ErrorPleaseSelectCatalog
                        </span>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
