﻿@using Znode.Engine.WebStore.ViewModels

@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    <li>
        <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null,subCategory.CategoryId)"><i class="zf-arrow-right-small"></i>@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
        @if (!Equals(subCategory.ChildCategoryItems, null) && subCategory.ChildCategoryItems.Count > 0)
        {
            <ul class="sub-menu-child">
                @Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)
            </ul>
        }
    </li>
}