﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Libraries.Resources
@model CustomerListViewModel
<div id="@Model.GridModel.FrontObjectName">
    <div id="aside-popup-panel" class="dirtyignore">
        <div class="col-sm-12 title-container">
            <h1 data-test-selector="hdgCustomer">@Admin_Resources.LabelCustomers</h1>
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon margin-bottom" onclick="ZnodeBase.prototype.CancelUpload('customerDetails')" data-test-selector="linkBack"><i class='z-back'></i>@Admin_Resources.ButtonBack</button>
            </div>
        </div>
        <div class="col-sm-12 page-container">
            @using (Ajax.BeginForm("GetCustomerList", "Order", new { portalId = Model.PortalId, accountId = Model.AccountId, customerName = string.Empty, isAccountCustomer = Model.IsAccountCustomer }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
            {
                <div id="filterComponent">
                    @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
                </div>
            }
            <div class="col-sm-12 list-container">
                @{
                    @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
                }
            </div>
        </div>
        @Html.HiddenFor(model => model.PortalId)
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#grid").find("tr").addClass('preview-link');
        $('#DropDownId1').find('input#UserId').closest('li').remove();   /*To Remove CustomerId search Field from column dropdown*/
    });   
    Order.prototype.SetCustomerDetailsById();
</script>
