﻿@using Znode.Engine.Admin.ViewModels
@model AddressViewModel

<div class="padding-left-20">
    <div id="addrFullName" class="col-sm-12 nopadding" data-test-selector="divAddrFullName">@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</div>
    <div id="addrCompanyName" class="col-sm-12 nopadding" data-test-selector="divAddrCompanyName">@Html.DisplayFor(m => m.CompanyName)</div>
    <div id="addrStreet1" class="col-sm-12 nopadding" data-test-selector="divAddrStreet1">@Html.DisplayFor(m => m.Address1)</div>
    <div id="addrStreet2" class="col-sm-12 nopadding" data-test-selector="divAddrStreet2">@Html.DisplayFor(m => m.Address2)</div>
    <div class="col-sm-12 nopadding">
        <div id="addrCity" data-test-selector="divAddrCity">@Html.DisplayFor(m => m.CityName)</div>
        <div id="addrStateCode" data-test-selector="divAddrStateCode">@Html.DisplayFor(m => m.StateName)</div>
        <div id="addrPostalCode" data-test-selector="divAddrPostalCode">@Html.DisplayFor(m => m.PostalCode)</div>
    </div>
    <div id="addrCountryCode" data-test-selector="divAddrCountryCode" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.CountryName)</div>
    <div id="addrPhoneNumber" data-test-selector="divAddrPhoneNumber" class="col-sm-12 nopadding">@Html.DisplayFor(m => m.PhoneNumber)</div>
    @Html.HiddenFor(model => model.AddressId)
    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Address1)
    @Html.HiddenFor(model => model.Address2)
    @Html.HiddenFor(model => model.Address3)
    @Html.HiddenFor(model => model.StateName)
    @Html.HiddenFor(model => model.CityName)
    @Html.HiddenFor(model => model.CountryName)
    @Html.HiddenFor(model => model.PostalCode)
    @Html.HiddenFor(model => model.PhoneNumber)
</div>
