﻿@using Znode.Engine.Admin.ViewModels
@model OrderStatusList
@{
            Layout = null;
}
@using (Ajax.BeginForm("UpdateTrackingNumber", "order"
                                        , new AjaxOptions
                                        {
                                            UpdateTargetId = "labelTrackingNumber",
                                            HttpMethod = "GET",
                                            OnBegin = "Order.prototype.ValidateTrackingNumber",
                                            OnSuccess = "Order.prototype.ChangeTrackingNumberSuccessCallback"
                                        }, new { @class = "dirtylisten dirty" }))
{
<div class="col-sm-12 nopadding">
    <div class="col-sm-6 nopadding">
        @Html.TextBoxFor(model => model.OrderTextValue, new { @maxlength = "100", @data_test_selector = "txtOrderTextValue" })
    </div>
    <div class="col-sm-6 display-inline-btn">
        <button type="submit" class="btn-narrow-icon margin-left-5" title="Save" data-test-selector="btnTrackingNumberSave"><i class="z-ok"></i></button>
        <button type="button" class="btn-narrow-icon" title="Cancel" onclick="Order.prototype.OnOrderCancelEdit('labelTrackingNumber','@Model.OrderTextValue')" data-test-selector="btnTrackingNumberCancel"><i class="z-close"></i></button>
    </div>
    <span style="display:none" id="spnTrackingNumber" class="field-validation-error" data-valmsg-replace="true">Tracking Number is required.</span>
    @Html.HiddenFor(model => model.OmsOrderId)
</div>

}
