﻿@{
    ViewBag.Title = Admin_Resources.TitleOMS + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@Admin_Resources.HeadingOMS</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <div class="col-sm-6 col-lg-4">
            <a href="/Account/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-account"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelAccounts</h3>
                        <span>Search account details and manage departments, roles, customers, customer quotes and orders.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Supplier/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-suppliers"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleSuppliers</h3>
                        <span>Manage vendors that will fulfill products in your store.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Order/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-orders"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelOrders</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/GiftCard/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-gift-cards"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelGiftCard</h3>
                        <span>Create and Manage stored value gift cards for your customers.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/RMAConfiguration/CreateEdit">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-rma-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderRMAConfiguration</h3>
                        <span>Configure RMA rules that determine how return requests are managed in your store.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/RMAManager/RMAList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-rma-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderRMAManager</h3>
                        <span>Manage pending return requests in your store.</span>
                    </div>
                </div>
            </a>
        </div>  
        <div class="col-sm-6 col-lg-4">
            <a href="/ServiceRequest/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-service-request"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelServiceRequest</h3>
                        <span>Respond to service requests submitted by your customers using the Contact-Us form on your website.</span>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="col-sm-6 col-lg-4">
            <a href="/Quote/AccountQuoteList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-quotes"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelQuotes</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        
    </section>
</div>

@*<h2>OMS Index</h2>

    <div class="row">
        <!--Left Panel-->
        <aside>
            <button id="slide-menu" class="slide-menu-btn" data-toggle="tooltip" data-placement="right" title="Expand / Collapse"><i class="z-backward"></i></button>
            <div class="slide-container">
                <h3>OMS</h3>
            </div>
        </aside>
        <!--Main Container-->
        <section class="main-container">
            <div class="col-sm-12 page-container">
                <div class="col-sm-12 title-container">
                    <h1>Work In Progress</h1>
                </div>
                <div class="col-sm-12 box-container">
                    <img src="~/Content/Images/comingsoon.png" class="img-responsive" style="margin:100px auto;" />
                </div>
            </div>
        </section>
    </div>*@
