﻿@using Znode.Engine.Admin.ViewModels

@using Znode.Libraries.ECommerce.Utilities
@model ShippingListViewModel
@{
    decimal customShippingCost = Convert.ToDecimal(Model.CustomShippingCost);
}
<div class="col-sm-10 nopadding">
    <div id="ShippingDetails" class="shipping-method-details">
        <div class="col-sm-12 nopadding dashboard-panel">
            <div class="dashboard-panel-heading">
                <h4 class="dashboard-panel-title">@Admin_Resources.LabelShippingMethod</h4>
            </div>
            @if (Model?.ShippingList?.Count > 0)
            {
                foreach (ShippingViewModel option in Model.ShippingList)
                {
                    var selectedShippingCode = Model.SelectedShippingCode > 0 ? Model.SelectedShippingCode : Model.ShippingList.First().ShippingId;
                    if (option.ShippingCode == "FreeShipping")
                    {
                        <div class="col-sm-12" id="FreeShippingDiv" style="display: none;">
                            <label class="pull-left margin-left-20 margin-top-15">
                                <input type="radio" id="@option.ShippingCode.Replace(" ", "_")" name="ShippingId" data-ShippingClassName="@option.ClassName" value="@option.ShippingId" @(selectedShippingCode == option.ShippingId && Model?.ShippingId > 0 ? "checked=checked" : "") data-shipping-name="@WebUtility.HtmlDecode(option.Description)" data-test-selector="chkShippingCode"/>
                                <span class="lbl padding-8" for="@option.ShippingCode.Replace(" ", "_")" data-test-selector="spnShippingCode">@WebUtility.HtmlDecode(option.Description)</span>
                                <span class="ShippingOptionsWithRates lbl padding-8" id="ShippingId_@option.ShippingId" data-test-selector="spnShippingRate"> - @option.FormattedShippingRate</span>
                                <input type="hidden" id="hdnIsFreeShipping" value="True" ShippingId="@option.ShippingId" name="@option.ShippingCode.Replace(" ", "_")" data-ShippingClassName="@option.ClassName"/>
                            </label>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12 nopadding margin-top-15" id="div_@option.ShippingId">
                            <div class="col-xs-6 col-md-5 nopadding shipping-method-list">
                                <label class="pull-left margin-left-20">
                                    <input type="radio" id="@option.ShippingCode.Replace(" ", "_")" name="ShippingId" data-ShippingClassName="@option.ClassName" value="@option.ShippingId" @(selectedShippingCode == option.ShippingId && Model?.ShippingId > 0 ? "checked=checked" : "") onchange="Order.prototype.ShippingChangeHandler('@option.ClassName', '@option.ShippingCode.Replace(" ", "_")')" data-shipping-name="@WebUtility.HtmlDecode(option.Description)" data-test-selector="chkShippingCode"/>
                                    <span class="lbl padding-8" for="@option.ShippingCode.Replace(" ", "_")" data-test-selector="spnShippingCode">@WebUtility.HtmlDecode(option.Description)</span>
                                    <span class="ShippingOptionsWithRates lbl padding-8" id="ShippingId_@option.ShippingId" data-test-selector="spnShippingRate"> - @option.FormattedShippingRate</span>
                                </label>
                                @{
                                    string shippingCode = option.ShippingCode.Replace(" ", "_");
                                    <div id="div-Edit-@shippingCode" style="display: none;" class="dev-custom-shipping-edit dirtyignore">
                                        <a href="#" id="Edit_@shippingCode" onclick="Order.prototype.AddCustomShipping('@shippingCode')" class="z-Edit edit-action" data-test-selector="btnEditDiscount"></a>
                                    </div>
                                }
                            </div>
                            <div class="col-xs-6 col-md-7 nopadding shipping-text-block">
                                <div class="form-group">
                                    <div class="col-sm-12 nopadding dev-custom-shipping" id="div_@shippingCode" style="display: none;">
                                        <div class="control-sm"><input id="CustomShipping_@shippingCode" name="OrderTextValue" type="text" class="dev-custom-shipping-value" data-estimate-shipping="@option.ShippingRate" data-test-selector="txtEditDiscount"></div>
                                        <div class="pull-left dirtyignore"><button type="button" id="Cancel_@shippingCode" class="btn-narrow-icon" title="Cancel" onclick="Order.prototype.CancelCustomShipping('@shippingCode')" data-test-selector="btnCloseEditDiscount"><i class="z-close"></i></button></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }
                }
                <div id="message-freeshipping" class="success-msg" style="padding-top: 10px; display: none; float: left;"><span data-test-selector="spnFreeShippingMessage">@Admin_Resources.FreeShippingMessage</span></div>
                <div class="col-sm-12 nopadding" id="customerShippingDiv" style="display: none">
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.AccountNumber, new {@class = "required"})
                            </div>
                            <div class="control-md">
                                @Html.TextBoxFor(model => model.AccountNumber, new {@id = "ShippingListViewModel_AccountNumber", Name = "ShippingListViewModel.AccountNumber"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12 nopadding">
                            <div class="control-label">
                                @Html.LabelFor(model => model.ShippingMethod, new {@class = "required"})
                            </div>
                            <div class="control-md">
                                @Html.TextBoxFor(model => model.ShippingMethod, new {@id = "ShippingListViewModel_ShippingMethod", Name = "ShippingListViewModel.ShippingMethod"})
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div id="divNoShippingOptions" class="col-sm-12 text-center error-msg margin-bottom" data-test-selector="divNoShippingOptionAvailable">@Admin_Resources.NoShippingOptionList</div>
            }
        </div>
        <input type="hidden" id="hndShippingclassName" value="" />

        @Html.HiddenFor(m => m.CustomShippingCost, new { @id = "hdnCustomShippingCost" })
    </div>
</div>

        <script>
            $(document).ready(function () {
                $('.dev-custom-shipping-value').keypress(function (event) {
                    if (event.which == 8)
                        return true;

                    if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                        event.preventDefault();
                    }
                });
            });
        </script>
