﻿@using Znode.Engine.Admin.ViewModels
@model UserAddressDataViewModel
@using Znode.Libraries.ECommerce.Utilities;


    @*<div class="dashboard-panel-heading">
        <h4 class="dashboard-panel-title">@Admin_Resources.LabelAddress</h4>
         </div>*@
<div id="customerAddresses">
    <div class="col-sm-12 nopadding dashboard-panel">
        @if (HelperUtility.IsNotNull(Model.UserId) && Model.UserId > 0)
        {
            if (Model.ShippingAddress.AddressId > 0)
            {

                <div class="col-sm-6 padding-left margin-top">
                    <div class="form-group">
                        <h3 data-test-selector="hdgShippingAddress" class="section-heading margin-left-15">@Admin_Resources.TitleShippingAddress<a href="#" class="z-Edit edit-action margin-left-10" onclick="Order.prototype.GetCustomerAddressForChange('shipping',@Model.ShippingAddress.AddressId,@Model.BillingAddress.AddressId)" data-test-selector="btnChangeShippingAddress"></a></h3>
                        @{Html.RenderPartial("~/Views/Order/_DisplayAddress.cshtml", Model.ShippingAddress, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "UserAddressDataViewModel.ShippingAddress" } });}
                        @*<span>@Model.Email</span>*@
                        <div class="edit-address-email">
                            <div class="col-sm-12 padding-left margin-top">
                                <div class="control-label">
                                    @Html.LabelFor(m => m.Email, new { @class = "required", @data_test_selector = "lblEmail" })
                                </div>
                                <div class="control-md">
                                    @Html.TextBoxFor(m => m.Email, new { @type = "email", @id = "address_email", @class = "form-input-long", disabled = "disabled", @data_test_selector = "txtEmail" })
                                    <p class="error-msg">@Html.ValidationMessageFor(m => m.Email, "", new { @data_test_selector = "valEmail" })</p>
                                    @Html.Hidden("UserAddressDataViewModel.Email", Model.Email)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

            if (Model.BillingAddress.AddressId > 0)
            {
                <div class="col-sm-6 padding-left margin-top">
                    <div class="form-group">
                        <h3 class="section-heading margin-left-15">@Admin_Resources.TitleBillingAddress<a href="#" class="z-Edit edit-action margin-left-10" onclick="Order.prototype.GetCustomerAddressForChange('billing',@Model.BillingAddress.AddressId,@Model.ShippingAddress.AddressId)" data-test-selector="btnChangeBillingAddress"></a></h3>
                        @{ Html.RenderPartial("~/Views/Order/_DisplayAddress.cshtml", Model.BillingAddress, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "UserAddressDataViewModel.BillingAddress" } }); }
                    </div>
                </div>
            }
        }

        @Html.Hidden("hdnIsShipping")
        @Html.HiddenFor(model => model.PortalCatalogId)
        @Html.HiddenFor(model => model.EnableAddressValidation)
        @Html.HiddenFor(model => model.RequireValidatedAddress)
        @Html.HiddenFor(model => model.CustomerPaymentGUID, new { id = "hdnCustomerGUID" })
        @Html.HiddenFor(model => model.UserId, new { id = "hdnUserIdAddress" })
        @Html.Hidden("UserAddressDataViewModel.UserId", Model.UserId)
        @Html.HiddenFor(model => model.PortalId)
        @Html.HiddenFor(model => model.ShippingAddress.AddressId)
        @Html.HiddenFor(model => model.BillingAddress.AddressId)
        @Html.HiddenFor(model => model.BillingAddress.StateCode, new { @id = "hdnstateCode" })
    </div>
</div>