﻿@import "../_base.scss";

// Product Tab.
.product-details-tab {margin:15px 0;
    ul{border-bottom:5px solid $base-color-primary;
       li{
          a{color:$base-color-primary;font-size:15px;font-family:$base-font-family-bold;min-width:150px; padding:10px 15px;background-color:#f8f8f8;border:1px solid $base-color-primary;border-radius:0;text-align:center;
                &:hover{background-color:$base-color-primary;color:$base-color-white;border:1px solid $base-color-primary;}
          }
       }
    }

    .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus{background-color:$base-color-primary;color:$base-color-white;border-color:$base-color-primary;}

    .tab-content{min-height:300px;overflow-y:auto;background-color:#f9f9f9;border:1px solid $border-bgcolor-default;padding:15px 20px;
        h4{
            a{color:$base-color-secondary; font-size:16px;font-weight:bold;padding-right:5px;}
            span{padding-left:5px;border-left:1px solid $border-bgcolor-default;color:#949494;font-size:14px;}
        } 
    }        
}
// Product Review.
.product-review{margin-bottom:15px;
        .review-title h3{font-size:14px;font-weight:bold;}
}

// Media Query.
@include screensize(x-small) {  
    .product-details-tab ul li{width:100%;padding-right:0;} 
}
@include screensize(small) {  
    .product-details-tab{
        ul li{width:auto;padding-right:5px;}
        .tab-content{max-height:400px;}
    } 
}