﻿@using Znode.Engine.WebStore.ViewModels
@model  List<BrandViewModel>
<div id="Brands" class="main-wrapper">
    <div class="container">
        <div class="row brand-container">
            <div class="col-xs-12 nopadding md-page-title-div">
                <h2 class="md-page-title">@WebStore_Resources.TitleShopByBrand</h2>
            </div>
            <div class="col-xs-12 nopadding">
                <div class="col-xs-12 nopadding">
                    <ul class="brand-filter">
                        @for (char character = 'A'; character <= 'Z'; character++)
                        {
                            <li class="pull-left margin-top-bottom">
                                <a href='@($"/Brand/BrandList?brandName={character}")'>@character</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 nopadding">
                    <ul class="brand-list">
                        @foreach (var brand in Model)
                        {
                            if (brand.MediaId > 0)
                            {
                                <li>
                                    <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                        <img src="@brand.ImageSmallPath" class="img-responsive" data-src="@brand.ImageSmallPath" alt="" />
                                        <label>@brand.BrandName</label>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.GetBrandUrl(brand.SEOFriendlyPageName, null, brand.BrandId)" data-lightbox="enlarge">
                                        <img src="@brand.ImageSmallPath" class="img-responsive" data-src="@brand.ImageSmallPath" alt="" />
                                        <label>@brand.BrandName</label>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>