﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@*<div class="col-xs-12 product-wishlist nopadding">
    <div class="col-xs-12 col-sm-8 col-md-11 nopadding">
        <button type="button" data-id="@Model.PublishProductId" data-sku="@Model.SKU" class="btn-wishlist button-wishlist" onclick="Product.prototype.AddToWishList(this)"><i class="zf-heart"></i>@WebStore_Resources.ButtonAddToWishlist</button>
        <button type="button" class="btn-wishlist btn-print" onclick="window.print();"><i class="zf-printer"></i>@WebStore_Resources.ButtonPrint</button>
        <span id="seeMore"></span>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-1 nopadding">
        <div class="pull-right">
            <div class="social-share">
                <ul>
                    <li><a data-toggle="modal" data-target="#modelEmailToFriend"><i class="zf-envelope" title="Email A Friend"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@Html.Action("EmailToFriend", "Product")
<script>
    $(window).load(function () {
        $("#ProductName").val($(".product-name").html());
        $('#modelEmailToFriend').trigger('click');
    });
</script>*@

