﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model  List<GroupProductViewModel>
@{
    Layout = null;
    string message = Convert.ToString(ViewBag.GroupProductMessage);
    string productTotalPrice = Helper.FormatPriceWithCurrency(Model.Sum(x => (x.ChangedQuantity != string.Empty) ? !Equals(x.SalesPrice, null) ? x.SalesPrice : x.RetailPrice : 0M), Model.FirstOrDefault()?.CurrencyCode);
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
}
@if (Model?.Count > 0)
{
    <div class="col-xs-12 nopadding" id="dynamic-product-variations">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Qty</th>
                </tr>
            </thead>
            <tbody>
                @foreach (GroupProductViewModel product in Model?.OrderBy(x => x.AssociatedProductDisplayOrder))
                {
                    string UOM = Attributes.ValueFromSelectValue(product?.Attributes, "UOM");
                    bool isOutOfStock = (Attributes.CodeFromSelectValue(product?.Attributes, ZnodeConstant.OutOfStockOptions) == "DontTrackInventory");
                    <tr>
                        <td class="md-product-image">
                            <img src="@product.ImageThumbNailPath" class="img-responsive" />
                            <h4>@product.Name</h4>
                        </td>
                        <td class="md-product-price">
                            @if (product.IsCallForPricing)
                            {
                                <div class="price"><label>@Html.RenderMessage(WebStoreConstants.ProductCallForPricing)</label></div>
                            }
                            else
                            {
                                <div class="col-xs-12 nopadding">
                                    @if (!Equals(product.SalesPrice, null))
                                    {
                                        <span class="dynamic-product-price_@product.SKU original-price text-right">@Helper.FormatPriceWithCurrency(product.SalesPrice, product.CurrencyCode, UOM)</span>
                                        if (product.SalesPrice != @product.RetailPrice)
                                        {
                                            <span class="cut-price pull-right text-right">
                                                @Helper.FormatPriceWithCurrency(product.RetailPrice, product.CurrencyCode, UOM)
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="dynamic-product-price_@product.SKU original-price text-right">@Helper.FormatPriceWithCurrency(product.RetailPrice, product.CurrencyCode, UOM)</span>
                                    }
                                </div>
                            }
                        </td>
                        <td class="md-product-quantity">
                            @if (product.IsCallForPricing)
                            {
                            }
                            else
                            {
                                <div class="col-xs-12 nopadding group-item-details">
                                    @if (product.ShowAddToCart)
                                    {
                                        <div class="col-xs-12 nopadding md-add-to-cart-container">
                                            <div class="md-spinner-btns">
                                                <div class="md-spinner">
                                                    <input type="text" data-inventory="@isOutOfStock" class="quantity" name="@product.SKU" style="width:50px;" data-sku="@product.SKU" data-inventoryRoundOff="@inventoryRoundOff" data-productId="@product.PublishProductId" onchange="Product.prototype.OnAssociatedProductQuantityChange(this)" /><span class="quantity-state">@WebStore_Resources.ColumnTitleQuantity</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg"></div>
                                    }
                                    else
                                    {
                                        <div id="quantity-error-msg_@product.PublishProductId" class="status-outofstock hvr-pulse error-msg">@product.InventoryMessage</div>
                                    }
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}

<script>
    $("#groupproductmessage").html('@message');
    var mainProductId = $("#scrollReview form").children("#dynamic-productid").val();
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>