﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Libraries.ECommerce.Utilities
@{
    decimal quantity = string.IsNullOrEmpty(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity)) ? 1 : Convert.ToDecimal(Model.Attributes?.Value(ZnodeConstant.MinimumQuantity));
    string sku = string.IsNullOrEmpty(Model.ConfigurableProductSKU) ? Model.SKU : Model.ConfigurableProductSKU;
    string inventoryRoundOff = DefaultSettingHelper.DefaultInventoryRoundOff;
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    bool addToCartDisabled = Model.IsCallForPricing || Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    string maxQty = Model.Attributes?.Value(ZnodeConstant.MaximumQuantity);
}
@if (Model.IsConfigurable)
{
    @Html.Partial("_ConfigurableAttribute", Model.ConfigurableData)
}
@*@{
        <div class="col-xs-12 nopadding">
            <div class="form-group">
                <div class="col-xs-12 nopadding">
                    <label for="Quantity">@WebStore_Resources.ColumnTitleQuantity</label>
                </div>
                <div class="col-xs-12 nopadding product-details-qty" id="product-details-quantity">
                    <input type="text" name='Quantity' value="@quantity" data-sku="@sku" data-maxQuantity="@maxQty" data-parentsku="@Model.SKU" data-parentProductId="@Model.ParentProductId" data-inventoryRoundOff="@inventoryRoundOff" class="quantity" @(addToCartDisabled ? "disabled" : "") id="Quantity">
                    <div id="quantity-error-msg" class="error-msg"></div>
                    <div id="dynamic-inventory" class="@inventoryMessageClass error-msg">@Model.InventoryMessage</div>
                </div>
            </div>
        </div>
    }*@
