﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel

@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool CallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        CallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string productType = Model?.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code;
    string salesPrice = Equals(productType, ZnodeConstant.GroupedProduct) && (!Equals(Model.SalesPrice, null) || !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, string.Empty);
    string retailPrice = (Equals(productType, ZnodeConstant.GroupedProduct) && !Equals(Model.RetailPrice, null)) ? string.Format(WebStore_Resources.GroupProductMessage, Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, string.Empty)) : Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, string.Empty);
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), Model.TotalReviews) : string.Empty;
}
<div class="item">
    <div class="product-item">
        <div class="view-item">
            <div class="product-img">
                <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                        <img src="~/Views/Themes/ModernB2C/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageSmallPath) ? "/no-image.png" : Model.ImageSmallPath;
                        }
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="Product" />
                    </div>
                </a>
            </div>
            <div class="product-details">
                <h4 class="title">
                    <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.Name)</a>
                    <span class="md-product-full-name">
                        <a href="@Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())">@WebUtility.HtmlDecode(Model.Name)</a>
                    </span>
                </h4>
                <div class="product-rating">
                    @Html.Partial("_StarRating", Model.Rating)
                </div>
                @if (CallForPricing)
                {
                    <div class="price"><label>@callForPricingMessage</label></div>
                }
                else
                {
                    <div class="price" data-sku="@Model.SKU" data-type="@Model.ProductType">
                        @if (!Helper.IsAsyncPrice)
                        {
                            if (!string.IsNullOrEmpty(Model.GroupProductPriceMessage))
                            {
                                <label>@Model.GroupProductPriceMessage</label>
                            }
                            else
                            {
                                if (!Equals(Model.SalesPrice, null))
                                {
                                <span>
                                    @if (Model.PromotionalPrice > 0)
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                                    }
                                    else
                                    {
                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, UOM)
                                    }                                      
                                </span>

                                    if (Model.SalesPrice != @Model.RetailPrice && !Equals(productType, ZnodeConstant.GroupedProduct))
                                    {
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>
                                    }
                                }
                                else
                                {
                                    if (Model.PromotionalPrice > 0)
                                    {

                                        <label>@Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)</label>
                                        <span class="cut-price">
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>

                                    }
                                    else
                                    {
                                        <span>
                                            @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                        </span>
                                    }

                                }
                            }
                        }
                        else
                        {
                            <label class="price-span" data-sku="@Model.SKU" data-type="@productType">Loading...</label>
                        }
                    </div>
                }
                <div class="add-to-actions">
                    <a href="JavaScript:void(0);" class="add-to-wishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)" title="My Wishlist"><i class="zf-md-wish-list"></i></a>
                    <a class="add-to-cart" href="@Url.GetProductUrl(Model?.SEOUrl, Model.PublishProductId.ToString())">View More</a>
                    <a href="JavaScript:void(0);" class="add-to-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink">
                        <i class="zf-md-compare"></i>
                    </a>
                    <div class="col-xs-12 nopadding padding-top-10 wishlist-status success-msg"><span id="accountWishList_@Model.PublishProductId"></span></div>
                    <button onclick="Product.prototype.GetProductDetails(this)" class="list-quick-view" data-review-state-id="" data-product-is-active="" data-value="@Model.PublishProductId" data-isquickview="true" data-toggle="modal" data-target=".quick-view-popup" title="Quick View"><i class="zf-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>
