﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    string disable = IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
}
@if (isGroupProduct)
{
    <div class="col-xs-12 product-info">
        <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>

        <div class="col-xs-12 nopadding">
            @{
                if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
                {
                    Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
                }
            }
        </div>

        <div class="col-xs-12 product-variations nopadding" id="scrollReview">
            <div class="col-xs-12 nopadding your-pricing">
                <div class="col-xs-12 col-sm-7 col-md-6 nopadding">
                    @if (!IsCallForPricing && !isGroupProduct)
                {
                        <div class="price" id="product_Detail_Price_Div">
                            <span>@WebStore_Resources.ColumnYourPrice</span>
                            <h3 class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CurrencyCode, UOM)</h3>
                        </div>
                    }
                    @if (IsCallForPricing)
                {
                        <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                    }
                </div>
            </div>
            <div class="col-xs-12 product-customize nopadding">
                <div class="col-xs-12 nopadding">
                    @if (PersonliseValues?.Count > 0)
                {
                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                }
                </div>
                <div class="col-xs-12 nopadding tier-price">
                    @if (Model.TierPriceList?.Count > 0)
                {
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Tier Quantity</th>
                                    <th>Price/Item</th>
                                    <th>You Save</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.TierPriceList)
                                {
                                    <tr>

                                        <td>@Convert.ToDouble(item.Quantity)</td>

                                        <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CurrencyCode) </td>

                                        @* Calculates the % savings on tier pricing *@
                                        <td>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
                <div class="col-xs-12 addons-attributs">
                    <div id="groupProductList" class="md-group-product-list">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing });}
                    </div>
                    <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                        @Html.Partial("_AddOns")
                    </div>
                </div>
                <div class="col-xs-12 nopadding inventory-availability">
                    Availability: <span id="dynamic-inventory" class="@inventoryMessageClass error-msg">@Model.InventoryMessage</span>
                    <div id="quantity-error-msg" class="error-msg" style="margin-left:0;"></div>
                </div>
                <div class="col-xs-12 nopadding email-a-friend">
                    <a data-toggle="modal" href="JavaScript:void(0);" data-target="#modelEmailToFriend">Email to a Friend</a>
                </div>
                <div class="col-xs-12 nopadding md-add-to-cart-container">
                    <div class="product-wishlist">
                        <div class="add-to-actions">
                            @Html.AddToCartLink(WebStore_Resources.ButtonAddToCart, "/Product/AddToCart", Model.CartParameter, "add-to-cart", "Product.prototype.BindAddOnProductSKU(this,event)", disable)
                            <a href="JavaScript:void(0);" class="add-to-wishlist" data-id="@Model.PublishProductId" data-sku="@Model.SKU" onclick="Product.prototype.AddToWishList(this)" title="My Wishlist"><i class="zf-md-wish-list"></i></a>
                            @*  Commented because we do not require compare btn on PDP page. *@
                            @*<a href="JavaScript:void(0);" class="add-to-compare" onclick="return Category.prototype.AddToCompare(@Model.PublishProductId,@Model.CategoryId)" title="@WebStore_Resources.LabelCompareLink">
                                <i class="zf-md-compare"></i>
                            </a>*@
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding padding-top-10 wishlist-status success-msg"><a id="accountWishList" href="" class=""></a></div>
                    <div class="col-xs-12 nopadding md-share-btns">
                        <button type="button" class="print-btn" onclick="window.print();"><i class="zf-printer"></i></button>
                        <span id="seeMore"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
                            }
                            else
                             {
                                <div class="col-xs-12 product-info">
                                    <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
                                    <div class="col-xs-12 nopadding">
                                        @{
                                            if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
                                            {
                                                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
                                            }
                                        }
                                    </div>
                                    <div class="col-xs-12 product-variations nopadding" id="scrollReview">
                                        <div class="col-xs-12 nopadding your-pricing">
                                            @if (!IsCallForPricing && !isGroupProduct)
                                                 {
                                                <div class="price" id="product_Detail_Price_Div">
                                                    @*<h3 class="dynamic-product-price">@Helper.FormatPriceWithCurrency(Model.ProductPrice, Model.CurrencyCode, UOM)</h3>*@

                                                   <h3> @if (!Equals(Model.SalesPrice, null))
                                                    {
                                                        @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CurrencyCode, UOM)
                                                        if (Model.SalesPrice != @Model.RetailPrice)
                                                        {
                                                       <span class="cut-price">
                                                           @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                                           {
                                                               @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                                                           }
                                                           else
                                                           {
                                                               @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                                           }
                                                       </span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                                                        {
                                                            @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CurrencyCode, UOM)
                                                            <span class="cut-price">
                                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                                            </span>
                                                        }
                                                        else
                                                        {
                                                            <span>
                                                                @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CurrencyCode, UOM)
                                                            </span>
                                                        }
                                                    }</h3>
                                                </div>
                                             }
                                            @if (IsCallForPricing)
                                            {
                                                <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                                            }
                                        </div>
                                        <div class="col-xs-12 nopadding inventory-availability">
                                            Availability: <span id="dynamic-inventory" class="@inventoryMessageClass error- msg">@Model.InventoryMessage</span>
                                            <div id="quantity-error-msg" class="error-msg" style="margin-left:0;"></div>
                                        </div>
                                        <div class="col-xs-12 nopadding email-a-friend">
                                            <a data-toggle="modal" href="JavaScript:void(0);" data-target="#modelEmailToFriend">Email to a Friend</a>
                                        </div>
                                        <div class="col-xs-12 product-customize nopadding">
                                            <div class="col-xs-12 nopadding">
                                                @if (PersonliseValues?.Count > 0)
                                                {
                                                    Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
                                                    PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
                                                    Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
                                                }
                                            </div>
                                            <div class="col-xs-12 nopadding tier-price">
                                                @if (Model.TierPriceList?.Count > 0)
                {
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Tier Quantity</th>
                                                                <th>Price/Item</th>
                                                                <th>You Save</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var item in Model.TierPriceList)
                                                            {
                                                                <tr>

                                                                    <td>@Convert.ToDouble(item.Quantity)</td>

                                                                    <td>@Helper.FormatPriceWithCurrency(item.Price, Model?.CurrencyCode) </td>

                                                                    @* Calculates the % savings on tier pricing *@
                                                                    <td>@Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price))) %</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            </div>
                                            <div class="col-xs-12 addons-attributs">
                                                <div class="col-xs-12 nopadding" id="dynamic-product-variations">
                                                    @Html.Partial("_ProductAttributes")
                                                </div>
                                                <div class="col-xs-12 nopadding" id="dynamic-product-addons">
                                                    @Html.Partial("_AddOns")
                                                </div>
                                            </div>
                                        </div>
                                        @Html.Partial("../Product/ProductQuantityDropdown", Model)
                                        @Html.Partial("_AddToWishList", Model)
                                    </div>
                                </div>
                                            }
@Html.Action("EmailToFriend", "Product")
<script>
    $(window).load(function () {
        $("#ProductName").val($(".product-name").html());
        $('#modelEmailToFriend').trigger('click');
    });
</script>
