﻿@model Znode.Engine.WebStore.ViewModels.ProductCompareViewModel
@{
    //string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    bool? mailSend = ViewBag.sendMail;
}
<div class="main-wrapper">
    <div class="container">
        <div class="row compare-all">
            <div class="md-page-title-div">
                <div class="md-page-title">@WebStore_Resources.HeaderProductCompare</div>
            </div>
            @if (Model.ProductList.Count > 1)
            {
                <div class="col-xs-12 nopadding compare-print">
                    <div class="pull-right">
                        <a href="javaScript:void(0)" onclick="javascript: window.history.go(-1); return false;">@WebStore_Resources.ButtonBack</a>
                        <a href="javaScript:void(0)" onclick="javascript:window.print();">@WebStore_Resources.TextPrint</a>
                        @Html.ActionLink(WebStore_Resources.LabelRemoveAllLink, "DeleteComparableProducts", "Product")
                        <a href="javaScript:void(0)" id="lnkSendMail" onclick="Product.prototype.SendMailPopUp()">@WebStore_Resources.LabelSendMail</a>
                    </div>
                </div>
            }
            <div class="col-xs-12 nopadding">
                @Html.Partial("../Product/_ProductComparisonList", Model.ProductList)
            </div>
        </div>
    </div>
    @* Don't delete this div *@
    <input type="hidden" id="dynamic-mailStatus" name="MailStatus" value="@mailSend" />

    <div id="successMessageDiv" style="display:none">
    </div>

    <div id="divSendMail" class="modal fade send-Mail-popup sendMailPopup" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="compare-product-popup" id="popUp_sendMail">
        </div>
    </div>
    <button id="btnSendMailPopup" style="display:none" data-toggle="modal" data-target=".sendMailPopup"></button>
</div>


