﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@model ProductViewModel
@{
    string callForPricingMessage = Html.RenderMessage(WebStoreConstants.ProductCallForPricing)?.ToString();
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value(ZnodeConstant.CallForPricing));
    ProductPromotionViewModel promotionCallForPricing = Model?.Promotions?.FirstOrDefault(x => x.PromotionType == ZnodeConstant.PromotionCallForPricing);
    if (HelperUtility.IsNotNull(promotionCallForPricing))
    {
        IsCallForPricing = true;
        callForPricingMessage = string.IsNullOrEmpty(promotionCallForPricing.PromotionMessage) ? callForPricingMessage : promotionCallForPricing.PromotionMessage;
    }
    bool isObsolete = Convert.ToBoolean(Model.Attributes?.FirstOrDefault(x => x.AttributeCode == ZnodeConstant.IsObsolete)?.AttributeValues);
    string disable = isObsolete || IsCallForPricing || !Model.ShowAddToCart ? "disabled" : "";
    bool isGroupProduct = string.Equals(Model.Attributes.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.GroupedProduct, StringComparison.OrdinalIgnoreCase);
    var PersonliseValues = Model?.Attributes?.Where(x => x.IsPersonalizable && x.AttributeTypeName == "Text").ToList();
    string inventoryMessageClass = Model.ShowAddToCart ? "status-outofstock hvr-pulse" : "error-msg";
    string UOM = Attributes.ValueFromSelectValue(Model?.Attributes, "UOM");
    Model.CartParameter?.Add("IsRedirectToCart", "False");
    bool showPriceToLoggedInCustomersOnly = GlobalAttributeHelper.IsShowPriceToLoggedInUsersOnly();
    string obsoleteMessage = Model.IsQuickView ? string.Format(WebStore_Resources.QuickViewObsoleteMessage, HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority) + Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString())) : WebStore_Resources.ObsoleteMessage;
    string obsoleteClass = isObsolete ? "cut-price" : "";
}
<div class="col-12 product-info p-0" id="scrollReview">
    <div class="col-12 col-md-6 col-lg-7 col-xl-6 p-0">
        @if (isObsolete)
        {
            <div class="col-12 product-price p-0">
                <div class="price"><h4 class="error-msg obsolete-msg pt-2 pb-2">@Html.RenderBlock(obsoleteMessage)</h4></div>
            </div>
        }
        @*if store level flag - 'show price to logged-in users only' is set to yes and user is logged off then do not show price to users.*@
        @if (showPriceToLoggedInCustomersOnly && !Request.IsAuthenticated)
        {
            <div class="loged-out-product-details">
                <div class="loged-out-product-title">@WebStore_Resources.TitleWhatsThePrice</div>
                <div class="loged-out-product-text">
                    <a href="JavaScript:void(0);" data-target="#sign-in-nav" class="OpenNav" onclick="User.prototype.LoginInPopup()">@WebStore_Resources.LabelSignIn</a>
                    @WebStore_Resources.TextOR
                    <a href="/User/Signup/@("?returnUrl=" + (Model.IsQuickView ? Url.GetProductUrl(Model?.SEOUrl, Model?.PublishProductId.ToString()) : HttpContext.Current.Request.Url.PathAndQuery.ToString()))">@WebStore_Resources.LabelRegister</a>
                    @WebStore_Resources.TextForPricing
                </div>
            </div>
        }
        else
        {
            <div class="col-12 product-price p-0">
                @if (!IsCallForPricing && !isGroupProduct)
                {
                    <h2>
                        @if (!Equals(Model.SalesPrice, null))
                        {
                        <span class="@obsoleteClass">
                            @if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                            }
                            else
                            {
                                @Helper.FormatPriceWithCurrency(Model.SalesPrice, Model.CultureCode, UOM)
                            }
                        </span>
                            if (Model.SalesPrice != @Model.RetailPrice)
                            {
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                        }
                        else
                        {
                            if (HelperUtility.IsNotNull(Model.PromotionalPrice))
                            {
                                <span class="@obsoleteClass">
                                    @Helper.FormatPriceWithCurrency(Model.PromotionalPrice, Model.CultureCode, UOM)
                                </span>
                                <span class="cut-price">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                            else
                            {
                                <span class="@obsoleteClass">
                                    @Helper.FormatPriceWithCurrency(Model.RetailPrice, Model.CultureCode, UOM)
                                </span>
                            }
                        }

                    </h2>
                }
                @if (isGroupProduct && !IsCallForPricing)
                {
                    <h2>
                        <span id="groupproductmessage"></span>
                    </h2>
                }
                @if (IsCallForPricing)
                {
                    <div class="price"><h4 class="error-msg">@callForPricingMessage</h4></div>
                }
            </div>
            <div class="product-rating">
                @Html.Partial("_StarRating", Model.Rating)
                @{
                    int totalreviews = 0;
                    totalreviews = (Model?.ProductReviews?.Count).GetValueOrDefault();
                    string ratingText = Model.Rating > 0 ? string.Format(WebStore_Resources.TextRating, Math.Round(Model.Rating, 1), totalreviews) : string.Empty;
                }
                @ratingText<a href="#product-content" onclick="javascript: $('#tab-reviews').click();" class="read-reviews">@WebStore_Resources.LinkTextReadReviews</a>
            </div>
        }

        @if (PersonliseValues?.Count > 0)
        {
            Dictionary<string, string> PersonliseCodeValue = new Dictionary<string, string>();
            PersonliseValues.ForEach(x => PersonliseCodeValue.Add(x.AttributeCode, x.AttributeValues));
            Html.RenderAction("GetPersonalisedAttributes", "Product", new { productId = Model.PublishProductId, PersonliseValues = PersonliseCodeValue });
        }

        @if ((!showPriceToLoggedInCustomersOnly || Request.IsAuthenticated) && Model.TierPriceList?.Count > 0)
        {
            <div class="col-12 p-0 my-4 b2b-price-list">
                <div class="row no-gutters">
                    <div class="col-12 b2b-price-list-head">
                        @WebStore_Resources.TitleSpecialPriceOffers
                    </div>
                    @foreach (var item in Model.TierPriceList)
                    {
                        <div class="b2b-price-list-body">Buy @Convert.ToDouble(item.Quantity) or more</div>
                        <div class="b2b-price-list-body">
                            <span class="@obsoleteClass">
                                @Helper.FormatPriceWithCurrency(item.Price, Model?.CultureCode)/item
                            </span>
                        </div>
                        // Calculates the % savings on tier pricing
                        if (Model.ProductPrice != null)
                        {
                            <div class="b2b-price-list-body b2b-price-list-save">Save @Math.Ceiling((decimal)(100 - ((100 / Model.ProductPrice) * item.Price)))%</div>
                        }
                    }
                </div>
            </div>
        }
    </div>
    <div class="col-12 p-0">
        @if (!isGroupProduct)
        {
            <div class="col-12 p-0" id="dynamic-product-variations">
                @Html.Partial("_ProductAttributes")
            </div>
        }
        <div class="col-12 p-0 addons-attributs">
            @if (isGroupProduct)
            {
                var attributes = Model?.Attributes?.Where(x => x.IsConfigurable)?.ToList();
                <div class="b2b-group-products">
                    <div id="groupProductList">
                        @{Html.RenderAction("GetGroupProductList", "Product", new { productId = Model?.PublishProductId, IsCallForPricing = Model?.IsCallForPricing, isObsolete = isObsolete });}
                    </div>
                    @Html.HiddenFor(m => m.ShowAddToCart)

                    <div class="grouped-product-add-to-cart p-4 text-right quotebutton">
                        @Html.AddToCartAjaxRequest(WebStore_Resources.ButtonAddToCart, "/Product/AddToCartProduct", Model.CartParameter, "btn btn-primary", "Product.prototype.BindAddOnProductSKU(this,event)", disable, "Product.prototype.DisplayAddToCartMessage")
                    </div>
                </div>
            }
            <div class="col-12 b2b-dynamic-addons" id="dynamic-product-addons">
                @Html.Partial("_AddOns")
            </div>
        </div>

        <div class="col-12 p-0">
            @if (string.Equals(Model.Attributes?.SelectAttributeList(ZnodeConstant.ProductType)?.FirstOrDefault()?.Code, ZnodeConstant.BundleProduct, StringComparison.OrdinalIgnoreCase))
            {
                Html.RenderAction("GetBundleProduct", "Product", new { productId = Model?.PublishProductId });
            }
        </div>
    </div>
    <span id="QuickViewQuantiyErrorMessage" class="error-msg"></span>
</div>
