﻿@model AutoComplete
@{
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    bool isTemplate = controllerName == "User" && (actionName == "CreateTemplate" || actionName == "EditTemplate");
    string className = isTemplate ? string.Empty : "col-lg-6";
}
<div id="layout-account-editprofile" class="main-wrapper col">
    <div class="row b2b-quick-order-page">
        <div class="container">
            <div class="row quick-order-pad">
                <div class="col-12">
                    <h1 class="page-title">&nbsp;</h1>
                    @if (isTemplate)
                    {
                        <h1 class="page-title pb-0 border-bottom">@WebStore_Resources.LabelAddProducts</h1>
                    }
                    else
                    {
                        <h1 class="page-title">@WebStore_Resources.HeaderQuickOrder</h1>
                    }
                </div>
                <div class="col-12 quick-order-page mt-4 mb-3">
                    <input type="hidden" id="hdnQuickOrderPadProductId" name="ProductId" />
                    <input type="hidden" id="hdnQuickOrderPadProductName" name="ProductName" />
                    <div class="row mb-5">
                        @if (!isTemplate)
                        {
                            <div class="col-12 col-lg-6 b2b-form font-16 mb-4">
                                <div class="mb-3">@WebStore_Resources.QuickOrderDescription</div>
                                <div class="mb-3">@Html.RenderBlock(WebStore_Resources.QuickOrderStepOne)</div>
                                <div class="mb-3">@Html.RenderBlock(WebStore_Resources.QuickOrderStepTwo)</div>
                            </div>
                        }
                        <div class="col-12 @className ml-auto">
                            <div id="quick-order-pad-content" class="col-12 quick-order-pad-content px-0">
                                <div id="quickorderdiv" class="">
                                    @for (int index = 1; index <= Convert.ToInt32(WebStoreConstants.DefaultQuickOrderPadRows); index++)
                                    {
                                        <div class="form-group" id="form-group-@index">
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-8">
                                                    @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrderPad.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @id = "txtQuickOrderPadSku_" + index, @class = "quick-order-pad-autocomplete", @data_qo_sku = "", @data_qo_product_id = "", data_qo_product_name = "", data_qo_cart_quantity = "", data_qo_quantity_on_hand = "", data_qo_in_stock_message = "", data_qo_out_stock_message = "", data_qo_min_quantity = "", data_qo_max_quantity = "", data_qo_call_for_pricing = "", data_is_first = "true", data_qo_track_inventory = "", data_qo_product_type = "", data_qo_retail_price = "", data_qo_autoAddOnSKUs = "", data_qo_isobsolete = "" } })
                                                </div>
                                                <div class="col-3 px-2 px-md-3">
                                                    @Html.TextBox("txtQuickOrderPadQuantity_" + index, 1, null, new { @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = "4", @class = "quantity quick-order-pad-quantity", @parentcontrol = "txtQuickOrderPadSku_" + index })
                                                </div>
                                                <div class="col-1">
                                                    <div id="removeRow_@index" class="remove_row remove-item" title="@WebStore_Resources.ButtonClear"><span class="close-circle-icon"></span></div>
                                                </div>
                                                <p id="inventoryMessage_@index" for="txtQuickOrderPadSku_@index" class="col-12 p-0 error-msg"></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                                <div id="quickOrderPad" class="">
                                </div>
                                <div class="col-12 p-0 border-bottom">
                                    <div class="text-right mb-3 d-flex justify-content-between less-padding">
                                        <button type="button" class="cart-item-remove clear-all-orders" id="btnQuickOrderClearAll" data-test-selector="btnQuickOrderClearAll"><span class="close-circle-icon"></span> @WebStore_Resources.TextClearAllItems</button>
                                        @Ajax.ActionLink("Add Row", "QuickOrder", "Product",
                                        new AjaxOptions
                                        {
                                            UpdateTargetId = "quickOrderPad",
                                            InsertionMode = InsertionMode.InsertAfter,
                                            HttpMethod = "GET",
                                            OnSuccess = "var lgn = $('[data-autocomplete-url]').length - 1;$('[data-autocomplete-url]:eq(' + lgn + ')').each(function () { autocompletewrapper($(this), $(this).data('onselect-function')); });"
                                        }, new { @class = "btn btn-secondary d-md-inline-block ml-3" , @data_test_selector="btnAddNewSKU" })
                                    </div>
                                </div>
                                <div class="col-12 p-0 mt-3">
                                    <div class="text-right quotebutton">
                                        @if (isTemplate)
                                        {
                                            <button type="button" class="btn btn-primary w-100 quickOrderPadAddToCart" id="btnQuickOrderPad">@WebStore_Resources.ButtonAddToTemplate</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-add-cart btn-primary quickOrderPadAddToCart" id="btnQuickOrderPad"><i class="zf-cart"></i>@WebStore_Resources.ButtonAddToCart</button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

