﻿@using Znode.Engine.Admin.ViewModels
@model ERPTaskSchedulerViewModel

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            @Html.LabelFor(model => model.Months, new { @data_test_selector = "lblMonths" })
        </div>
        <div id="monthslist" class="control-md">
            <div class="control-md">
                @Html.ListBoxFor(model => model.MonthsArray, Model.ERPTaskSchedulerMonthsList, new { @multiple = "multiple", @id = "ddlMonths", @data_test_selector = "listMonthsContainer" })
            </div>
        </div>
    </div>
</div>
 
<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label class="padding-left">@Html.RadioButtonFor(model => model.IsMonthlyDays, "true", new { @data_test_selector = "lblMonthlyDays" }) <span class="lbl padding-8">@ERP_Resources.LabelERPTaskSchedulerDays</span></label>
        </div>
        <div id="dayslist" class="control-md">
            <div class="control-md">
                @if (Model.IsMonthlyDays)
                {@Html.ListBoxFor(model => model.DaysArray, Model.ERPTaskSchedulerDaysList, new { @multiple = "multiple", @id = "ddlDays", @class = "MultiSelectClass", @data_test_selector = "listMonthlyDaysContainer" })}
                else
                {@Html.ListBoxFor(model => model.DaysArray, Model.ERPTaskSchedulerDaysList, new { @multiple = "multiple", @id = "ddlDays", disabled = "disabled", @class = "MultiSelectClass", @data_test_selector = "listMonthlyDaysContainer" })}
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label class="padding-left">@Html.RadioButtonFor(model => model.IsMonthlyDays, "false", new { @data_test_selector = "chkOnMonthlyDays" }) <span data-test-selector="lblOnMonthlyDays" class="lbl padding-8">@ERP_Resources.LabelERPTaskSchedulerOnDays</span></label>
        </div>
        <div class="control-lg">
            <div id="ondayslist" class="pull-left">
                @if (Model.IsMonthlyDays)
                {@Html.ListBoxFor(model => model.OnDaysArray, Model.ERPTaskSchedulerOnDaysList, new { @multiple = "multiple", @data_test_selector = "listOnDaysContainer", @id = "ddlOnDays", disabled = "disabled", @class = "MultiSelectClass" })}
                else
                { @Html.ListBoxFor(model => model.OnDaysArray, Model.ERPTaskSchedulerOnDaysList, new { @multiple = "multiple", @data_test_selector = "listOnDaysContainer", @id = "ddlOnDays", @class = "MultiSelectClass" })}
            </div>
            <div id="weekdayslist" class="pull-left padding-left">
                @if (Model.IsMonthlyDays)
                {@Html.ListBoxFor(model => model.WeekDaysArray, Model.ERPTaskSchedulerWeekDaysList, new { @multiple = "multiple", @data_test_selector = "listWeekDaysContainer", @id = "ddlWeekDays", disabled = "disabled", @class = "MultiSelectClass" })}
                else
                {@Html.ListBoxFor(model => model.WeekDaysArray, Model.ERPTaskSchedulerWeekDaysList, new { @multiple = "multiple", @data_test_selector = "listWeekDaysContainer", @id = "ddlWeekDays", @class = "MultiSelectClass" })}
            </div>
        </div>
    </div>
</div>
<script src="~/Content/bootstrap-3.3.7/js/bootstrap-multiselect.js" type="text/javascript"> </script>
<script>
    $(function () {
        $("#ddlMonths").multiselect({ includeSelectAllOption: true, enableCaseInsensitiveFiltering: true });
        //Todo Working on this
        //$(".MultiSelectClass").multiselect({ includeSelectAllOption: true, enableCaseInsensitiveFiltering: true });
        $('input[type="checkbox"]').css('opacity', '5');
    });
</script>