﻿@{var isLoggedIn = "false"; }
@if (Request.IsAuthenticated)
{
    <div class="d-none d-lg-block cut-text">@WebStore_Resources.TitleMyAccount </div><span class="profile-icon"></span>
    isLoggedIn = "true";
}
else
{
    <div class="d-none d-lg-block cut-text">@WebStore_Resources.LabelSignInRegister </div><span class="profile-icon"></span>
    isLoggedIn = "false";
}
<script type="text/javascript">
    $(document).ready(function () {
        if(@isLoggedIn == true)
            User.prototype.GetAccountMenus();
        else
            User.prototype.LoginInPopup();
    });
</script>
