﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel

<div id="layout-paging">
    <div class="search-paging">
        <div class="search-page-no">
            @Html.Partial("../Search/_Paging", new ViewDataDictionary(new { Id = "Page", @class = "pull-right" }))
        </div>
    </div>
</div>
<div id="layout-search">
    <div class="search-sorting">
        <div>
            @Html.Partial("../Search/_Sorting", new ViewDataDictionary(new { Id = "Sort2", @class = "pull-right" }))
        </div>
    </div>
</div>
