﻿@using Znode.Libraries.ECommerce.Utilities
<form name="SearchSort">
    @Html.AntiForgeryToken()
    @{
        string sort = Request.QueryString["Sort"] ?? "0";

        if (!Equals(SessionHelper.GetDataFromSession<string>("PageSizeValue"), null))
        {
            sort = SessionHelper.GetDataFromSession<string>("PageSizeValue");
        }
    }


    @Html.DropDownList("Sort", new[] {
                           new SelectListItem() { Text ="Sort by", Value = "0",  Selected = sort == "0"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownHighestRating, Value = "1",  Selected = sort == "1"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownMostReview, Value = "2",  Selected = sort == "2"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownPriceHighToLow, Value = "3",  Selected = sort == "3" },
                           new SelectListItem() {Text = WebStore_Resources.DropdownPriceLowToHigh, Value = "4",  Selected = sort == "4"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownNameAtoZ, Value = "5",  Selected = sort == "5"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownNameZToA, Value = "6",  Selected = sort == "6"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownOutOfStock, Value = "7",  Selected = sort == "7"},
                           new SelectListItem() {Text = WebStore_Resources.DropdownInStock, Value = "8",  Selected = sort == "8"}
})
</form>



