﻿@model Znode.Engine.WebStore.ViewModels.BrandViewModel
@{
    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    searchProperties.Add(WebStoreConstants.PageSize, !Equals(Request.QueryString[WebStoreConstants.PageSize], null) ? Convert.ToInt32(Request.QueryString[WebStoreConstants.PageSize]) : 16);
    searchProperties.Add(WebStoreConstants.PageNumber, !Equals(Request.QueryString[WebStoreConstants.PageNumber], null) ? Convert.ToInt32(Request.QueryString[WebStoreConstants.PageNumber]) : 1);
    searchProperties.Add(WebStoreConstants.Sort, !Equals(Request.QueryString[WebStoreConstants.Sort], null) ? Convert.ToInt32(Request.QueryString[WebStoreConstants.Sort]) : 0);
    searchProperties.Add("Brand", Model?.BrandCode);
}

<div id="layout-category" data-category="@Model.BrandName" data-categoryId="@Model.BrandId" class="main-wrapper">
    <!-- Breadcrumb -->
    <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container">@Html.RenderBlock(Model.BreadCrumbHtml)</div> 
    <div class="container">
        <div class="row">
            <aside class="col-xs-12 col-sm-3 side-bar">
                <z-widget>@Html.WidgetPartial("Facet", "Facet", "125", "Brand", Model.BrandId, searchProperties)</z-widget>
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <!--Brand Banner-->            
            <div class="col-xs-12 col-sm-9 category-landing-container">                               
                <div class="col-xs-12 nopadding brand-banner">                    
                    <div class="col-sm-9 nopadding">
                        <h1>@Model.BrandName</h1>
                        <p>@Html.RenderBlock(Model.Description)</p>
                    </div>                    
                    <div class="col-sm-3 nopadding">
                        <img src="@Model.ImageSmallPath" class="img-responsive" data-src="@Model.ImageSmallPath" alt="Image" title="@Model.BrandName" />
                    </div>
                </div>
                <z-widget>@Html.WidgetPartial("ProductGrid", "ProductList", "124", "Brand", Model.BrandId, searchProperties)</z-widget>
            </div>
            <div class="col-xs-12 nopadding">
                <z-widget class="category-recent-view-list">@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
            </div>
        </div>
    </div>
</div>

