﻿@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities
@{
    int portalId = PortalAgent.CurrentPortal.PortalId;
    string logo = !string.IsNullOrEmpty(PortalAgent.CurrentPortal.WebsiteLogo) ? MediaPaths.MediaPath + PortalAgent.CurrentPortal.WebsiteLogo : string.Empty;
    string title = PortalAgent.CurrentPortal.WebsiteTitle;
}
<div class="row footer-container">
    <div class="footer-information">
        <div class="container">
            <div class="footer-ribbon">
                <span>Get in Touch</span>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 footer-shop">
                    <!--Customer Support Widget-->
                    <z-widget>@Html.WidgetPartial("CustomerSupport", "Customer Support", "109", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footer-shop">
                    <!--Footer Helps Widget-->
                    <div class="header-footer">
                        <h3>My Account</h3>
                    </div>
                    <div class="footer-help-section-link">
                        <z-widget>@Html.WidgetPartial("LinkPanel", "My Account", "2243", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 footer-shop">
                    <!--Store Info Widget-->
                    <div class="header-footer">
                        <h3>@WebStore_Resources.TitleStoreInfo</h3>
                    </div>
                    <div class="footer-help-section-link">
                        <z-widget>@Html.WidgetPartial("LinkPanel", "Store Info", "2253", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), PortalAgent.CurrentPortal.PortalId)</z-widget>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 footer-shop">
                    <div class="header-footer">
                        <h3>@WebStore_Resources.ButtonNewsletter</h3>
                    </div>
                    <!--News Letter Widget-->
                    <z-widget>@Html.WidgetPartial("NewsLetter", "News Letter", "777", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 nopadding footer-copyright">
                <div class="footer-text">
                    <p>@Html.RenderMessage(WebStoreConstants.FooterCopyrightText)</p>
                </div>
                <div class="social-media">
                    <z-widget>@Html.WidgetPartial("LinkPanel", "Social Media", "222", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
                <div class="payment-gateway">
                    <!--Payment Getway Widget-->
                    <z-widget>@Html.WidgetPartial("LinkPanel", "Payment Gateway", "223", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), portalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="#layout" class="back-to-top"><i class="zf-up"></i></a>
