﻿@using Znode.Engine.WebStore.Agents;
@{
    string customerServiceEmail = PortalAgent.CurrentPortal?.CustomerServiceEmail;
    string customerServicePhoneNumber = PortalAgent.CurrentPortal?.CustomerServicePhoneNumber;
}
<div class="footer-contact">
    <div class="header-footer">
        <h3 class="footer-header">@WebStore_Resources.TextCustomerSupport</h3>
    </div>
    <div class="address titles">
        @Html.RenderMessage("FooterAddress")
    </div>
    <div class="email titles">
        <strong>Email:</strong>
        @{
            string customerServiceEmailValue = customerServiceEmail;
            if (!string.IsNullOrEmpty(customerServiceEmailValue))
            {
                char[] seperator = new char[] { ',' };
                string[] customerServiceEmails = customerServiceEmailValue.Split(seperator, StringSplitOptions.RemoveEmptyEntries);
                foreach (string email in customerServiceEmails)
                {
                    <div><a href="@(" mailto:" + email)">@email</a></div>
                }
            }
        }
    </div>
    <div class="phone titles">
        @Html.RenderMessage("FooterContact")
        <div>@customerServicePhoneNumber</div>
    </div>
    <div class="working-hrs titles">
        @Html.RenderMessage("FooterWorkingHrs")
    </div>
</div>

