﻿@using Znode.Engine.WebStore.ViewModels
@model List<LinkProductViewModel>

<!---Link Product Widget Such as You may also like, Frequently bought like product List-->
@{bool navigationFlag = false; }
@if (Model?.Count > 0)
{
    int counter = 0;
    foreach (var p in Model)
    {
        navigationFlag = p?.PublishProduct?.Count > 4 ? true : false;
        string _id = $"Link_Products_Widget{counter++}";
        if (p?.PublishProduct?.Count > 0)
        {
            <h4 class="product-list-title">@p.AttributeName</h4>
        }
        <div class="owl-carousel Link_Products_Widget" id="@_id">
            @foreach (var item in p.PublishProduct?.GroupBy(x => x.PublishProductId).Select(y => y.FirstOrDefault()))
            {
                @Html.Partial("../Product/_ProductList", item)
            }
        </div>
        <script>
            $("#@_id").owlCarousel({autoPlay:!1,navigation:@navigationFlag.ToString().ToLower(),items:4,itemsCustom:[[0,1],[320,2],[480,2],[600,2],[768,2],[992,3],[1200,4]],navigationText:["<i class='zf-md-arrow-left'></i>","<i class='zf-md-arrow-right'></i>"]});
        </script>
    }
}

<script>
   jQuery("img").bind("error",function(a){this.src=window.location.protocol+"//"+window.location.host+"/Content/Images/no-image.png"}),$(document).ready(function(){});
</script>