﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@{
    Layout = null;
    bool IsCallForPricing = Convert.ToBoolean(Model.Attributes?.Value("CallForPricing"));
}
<div class="row">
    <div id="layout-product" class="product-meta" data-id="@Model.PublishProductId">
        <div class="product-view-details">
            <div class="col-xs-12 col-sm-5 product-images">
                <div class="col-xs-12 nopadding image-view text-center">
                    @if (Convert.ToBoolean(Model.Attributes?.Value("NewProduct")))
                    {
                    <img src="~/Views/Themes/ModernB2C/Images/new-product-tag.png" alt="New Product" class="img-responsive new-product-tag hvr-pulse" />
                    }
                    <div class="image">
                        @{
                            string imageSrc = string.IsNullOrEmpty(Model.ImageLargePath) ? "/no-image.png" : Model.ImageLargePath;
                        }
                        <img id="@Model.PublishProductId" src="@imageSrc" class="img-responsive" data-src="@imageSrc" alt="@(Model.Attributes?.Value("ImageAltText"))" />
                    </div>

                </div>

                <div class="col-xs-12 nopadding product-altimages">
                    @if (Model?.AlternateImages?.Count > 0)
                    {
                    <div id="alt-images" class="owl-carousel alternate-img">

                        @foreach (var image in Model.AlternateImages)
                            {
                            <div class="item">
                                <a href="@image.OriginalImagePath" data-standard="@image.OriginalImagePath">
                                    <img src="@image.ImageThumbNailPath" alt="" />
                                </a>
                            </div>
                            }
                        }
                    </div>
                    }
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 product-overview">
                @Html.Partial("_ProductOverview", Model)
                @Html.Partial("_ProductInfo", Model)
            </div>

            @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
            <input id="isQuickView" name="true" type="hidden" value="true">
        </div>
    </div>
</div>
<script>
    jQuery('img').bind('error', function (e) {
        this.src = window.location.protocol + "//" + window.location.host + "/Content/Images/no-image.png";
    });
</script>
