﻿@model AutoComplete
<div class="search-widget">
    <form action="/Search" method="GET">
        <div class="left-inner-icon input-group">
            @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false,new {htmlAttributes = new { @placeholder = WebStore_Resources.LabelSearch, @class = "",@Name= "SearchTerm" } })
            <span class="input-group-btn">
                <button type="submit" class="btn-text btn-color-primary" id="btnSearchTerm">
                    <i class="zf-search"></i>
                </button>
            </span>
        </div>
        <div id="typeahead-results" class="ui-autocomplete-home"></div>
    </form>
</div>

<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });
</script>
