﻿@using Znode.Engine.WebStore.ViewModels
@model ChangePasswordViewModel
@using Znode.Engine.WebStore.Agents;
@{

}
<div id="layout-account-editprofile" class="main-wrapper col">
    <div class="row">
        <div class="container-fluid profile-dashboard">
            <div class="row">
                <div class="container">
                    @Html.Partial("_AccountMenuDashboard")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row user-account">
                <div class="col-12 account-dashboard">
                    <div class="row mb-5">
                        <div class="col-12 col-lg-9 edit-profile right-container">
                            <div class="col-12 p-0">
                                <h1 class="page-title">@WebStore_Resources.TitleChangePassword</h1>
                            </div>
                            <div class="col-12 p-0 edit-address-form">
                                <div class="col-12 dashboard-content p-0 mb-4">
                                
                                    <div class="col-12 p-4">
                                        <div class="row">
                                            <div class="col-12 mb-4">
                                                @WebStore_Resources.SubTextChangePassword
                                            </div>
                                            @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { role = "form", @class = "col-12 p-0" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <div id="loginForm" class="col-12 b2b-form">
                                                    <div class="row">
                                                        @Html.ValidationSummary(true, "")
                                                        <div class="col-12 form-group">
                                                            <div class="form-title">
                                                                @Html.Label(WebStore_Resources.LabelCurrentPassword, new { @class = "required" })
                                                            </div>
                                                            <div class="col-12 p-0">
                                                                @Html.PasswordFor(m => m.OldPassword)
                                                                @Html.ValidationMessageFor(m => m.OldPassword, "")
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 form-group">
                                                            <div class="form-title">
                                                                @Html.Label(WebStore_Resources.LabelNewPassword, new { @class = "required" })
                                                            </div>
                                                            <div class="col-12 p-0">
                                                                @Html.PasswordFor(m => m.NewPassword)
                                                                @Html.ValidationMessageFor(m => m.NewPassword, "")
                                                                <p class="suggestion-msg">@WebStore_Resources.ValidPassword</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 col-lg-6 form-group">
                                                            <div class="form-title">
                                                                @Html.Label(WebStore_Resources.LabelReTypeNewPassword, new { @class = "required" })
                                                            </div>
                                                            <div class="col-12 p-0">
                                                                @Html.PasswordFor(m => m.ReTypeNewPassword)
                                                                @Html.ValidationMessageFor(m => m.ReTypeNewPassword, "")
                                                            </div>
                                                        </div>
                                                        @Html.HiddenFor(x => x.UserName)
                                                        <div class="col-12 text-right quotebutton">
                                                            <button type="submit" class="btn btn-primary mt-3">@WebStore_Resources.ResetPasswordButtonText</button>
                                                            <button type="button" class="btn btn-secondary ml-md-3 mt-3" onclick="javascript: location.href = '/User/Dashboard';">@WebStore_Resources.ButtonCancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-3 p-0 mt-4 pt-3">
                            <div class="col-12">
                                <p class="key-PromoSpot">@Html.RenderMessage("PromoSpot")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


