﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents
@model AccountQuoteViewModel
@{
    int quoteId = (int)ViewData["QuoteId"];
    string accountType = Model.RoleName;
    string cultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCulture : Model.CultureCode;
    Model.ShoppingCart.CultureCode = cultureCode;
    int paymentSettingId = (ViewData["PaymentSettingId"] != null) ? (int)ViewData["PaymentSettingId"] : 0;
    string imagePath = string.Empty;
    bool isPendingPayment = (ViewData["isPendingPayment"] != null) ? (bool)ViewData["isPendingPayment"] : false;
    string quoteURL = isPendingPayment ? $"/User/PendingPaymentQuoteView?omsQuoteId={quoteId}" : $"/User/QuoteView?omsQuoteId={quoteId}";
    string quoteHistoryURL = isPendingPayment ? "/User/PaymentQuoteHistory" : "/User/UserQuoteHistory";
    PortalViewModel _portal = PortalAgent.CurrentPortal;
    string thankYouContent = isPendingPayment ? WebStore_Resources.LabelPendingPayment : WebStore_Resources.LinkTextQuoteHistory;
    string paymentDisplayName = Model.PaymentDisplayName;
}
@{

    List<CartItemViewModel>
    quoteItemViewModel = Model.ShoppingCart?.ShoppingCartItems?.ToList();
    var consolidatedOrderLineItems = quoteItemViewModel?.GroupBy(x => new { x.SKU, x.GroupId }).Select(c => new CartItemGroupListViewModel
    {
        SKU = c.Key.SKU,
        GroupId = c.Key.GroupId,
        Children = c.ToList(),
        Sequence = c.FirstOrDefault().GroupSequence,
    }).ToList();
}

<div id="layout-checkout-receipt" class="col">
    @Html.Partial("../_LearnMore", Model)
    <div class="row b2b-breadcrumbs d-none d-md-block">
        <div class="container">
            <div class="row">
                <!-- Breadcrumb -->
                <div id="breadCrumb" class="col breadcrumb-container"><a href="/" class="home-icon pr-2" title="Home"></a>Thank You</div>
            </div>
        </div>
    </div>
    <div class="row b2b-quote-page">
        <div class="container">
            <div class="row checkout-receipt">
                <div class="col-12 mb-5">
                    @Html.Hidden("QuoteId", quoteId)
                    @if (quoteId > 0)
                    {
                        <h1 class="page-title">@WebStore_Resources.B2BQuoteUpdatedThankyouText</h1>
                        <div class="col-12 p-0 font-16">
                            Thanks for shopping at @_portal.WebsiteTitle. @WebStore_Resources.B2BQuoteNoDisplayText <a href="/User/QuoteView?omsQuoteId=@quoteId"><u>#@quoteId</u></a>
                        </div>
                        if (User.Identity.IsAuthenticated)
                        {

                            if (isPendingPayment)
                            {
                                <div class="col-12 p-0 font-16">
                                    @Html.RenderBlock(string.Format(@WebStore_Resources.TextPendingPaymentSection, quoteHistoryURL))
                                </div>
                            }
                            else
                            {
                                <div class="col-12 p-0 font-16">
                                    @WebStore_Resources.B2BGotoQuoteHistoryText <a href="@quoteHistoryURL"><u>@WebStore_Resources.B2BLinkTextQuoteHistory</u></a>.
                                </div>
                            }
                        }
                        <div class="mt-3 pb-4 border-bottom">
                            <a href="/" class="d-block d-md-inline-block btn btn-primary">@WebStore_Resources.ButtonContinueShopping</a>
                            <a href="/CaseRequest/customerfeedback" class="d-block d-md-inline-block ml-md-3 mt-3 btn btn-secondary">@WebStore_Resources.B2BTextCustomerFeedback</a>
                        </div>

                        <div id="layout-quote-details" class="col-12 p-0">
                            <div class="col-12 p-0">
                                <h3 class="page-title py-4">@WebStore_Resources.LabelPendingOrderDetail @Html.RenderBlock(Model.OmsQuoteId.ToString()) - @ViewBag.Title <small>on @Model.CreatedDate</small></h3>
                            </div>
                            <div class="col-12 account-dashboard p-0">
                                <div class="col-12 p-0 add-template right-container">
                                    <div class="col-12 p-0 dashboard-content">
                                        <h3 class="b2b-section-header">@WebUtility.HtmlDecode(Model.ShippingName)</h3>
                                        <div class="col-12 account-recent-orders">
                                            <div class="row border-bottom-0 col-12 col-md-6">
                                                @if (Model?.ShippingAddressId > 0 && !Equals(Model?.ShippingAddressModel, null))
                                                {
                                                    Model.ShippingAddressModel.RoleName = Model.RoleName;
                                                    @Html.Partial("../User/_DisplayAddress", Model.ShippingAddressModel ?? new AddressViewModel())
                                                }
                                                else
                                                {
                                                    <div class="address-block w-100">@WebStore_Resources.ErrorNoPrimaryAddress</div>
                                                }
                                            </div>
                                        </div>
                                        @{
                                        <div class="col-12 p-0 shopping-cart">
                                            <div class="quote-products col-12 cart-products p-0 no-shadow border-top">
                                                <div class="col-12 b2b-cart" id="quoteView">
                                                    @for (int i = 0; i < Model?.ShoppingCart?.ShoppingCartItems?.Count(); i++)
                                                    {
                                                        if (Model.ShoppingCart.ShoppingCartItems[i].InsufficientQuantity)
                                                        {
                                                            Model.InventoryOutOfStockCount++;
                                                            Model.ShoppingCart.ShoppingCartItems[i].OutOfStockMessage = string.IsNullOrEmpty(Model.OutOfStockMessage) ? WebStore_Resources.OutofStockMessage : Model.OutOfStockMessage;
                                                        }
                                                        Model.ShoppingCart.ShoppingCartItems[i].QuoteLineItemCount = Model.ShoppingCart.ShoppingCartItems.Count();
                                                        Model.ShoppingCart.ShoppingCartItems[i].OrderStatus = Model.OrderStatus;
                                                        Model.ShoppingCart.ShoppingCartItems[i].RoleName = Model.RoleName;
                                                        Model.ShoppingCart.ShoppingCartItems[i].CultureCode = cultureCode;
                                                        <div class="row b2b-cart-row align-items-center" id="quoteViewRow">
                                                            @Html.Partial("_QuoteRow", Model.ShoppingCart.ShoppingCartItems[i])
                                                            @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].Quantity)
                                                            @Html.HiddenFor(model => Model.ShoppingCart.ShoppingCartItems[i].OmsQuoteLineItemId)
                                                        </div>
                                                    }
                                                    @Html.Hidden("ShoppingCartItemsCount", Model.ShoppingCart.ShoppingCartItems.Count())
                                                    @Html.HiddenFor(model => Model.InventoryOutOfStockCount)
                                                </div>
                                            </div>
                                            <div class="col-12 col-lg-8 p-0 ml-auto receipt-item-list shopping-cart">
                                                <div class="col-12 cart-total mt-4 pb-1 cart-summary receipt-totals cart-total">
                                                    @{
                                                        Model.ShoppingCart.ShippingName = @WebUtility.HtmlDecode(Model.ShippingName);
                                                    }
                                                    @Html.Partial("_QuoteTotalTable", Model.ShoppingCart)
                                                </div>
                                            </div>
                                        </div>
                                            @Html.Partial("_QuoteConfirmPopup")
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3 class="my-3">@WebStore_Resources.ErrorUnablePlaceOrder</h3>
                    }
                    @Html.Hidden("portalId", _portal.PortalId)
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid featured-products no-shadow">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col featured-products-block">
                    <h3 class="product-list-title key-BestSellers">@Html.RenderMessage("BestSellers")</h3>
                    <z-widget>@Html.WidgetPartial("ProductList", "BestSellers", "667", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString(), _portal.PortalId)</z-widget>
                </div>
            </div>
        </div>
    </div>
</div>
@*Removed the script because it's not in use.*@


