﻿@import "../_base.scss";

.product-grid .products-modes-setting {
        .view-mode{font-size:$base-font-size;line-height:37px;
            a{padding-left:5px;display:inline-block;text-align:center;
                &:hover,&:focus{text-decoration:none;}
            }
            i{font-size:$base-font-size;padding:5px;color:$base-color-black;}
        }
}

.product-grid .product-view{
    .view-item{padding:0;
        :hover{
            .product-img{box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);}
        }
    }
    .product-details{padding:20px 0}
    .category-item{
        .image{min-height:220px;max-height:220px;}
        .short-description p{height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;font-size:12px;}
        .btn-card{width:100%;}
        .category-img img{margin:0 auto;max-height:220px;}
        .title a{font-size:$base-font-size + 1;font-family:$base-font-family-bold;overflow:hidden;line-height:18px;}
    } 
    /*.text-view .product-item{
        .swatch-img-container{display:none;}  
        .view-item:hover .compare-link{opacity:1;pointer-events:auto;-webkit-transition: all 0.5s;-moz-transition: all 0.5s;transition: all 0.5s;right:6px !important;left:auto;z-index:99;}
    }*/ 

    // Product View Changes.   
    .list-view > li,.text-view > li{width: 100%;}
    .list-view li .product-item, .text-view li .product-item{width:100% !important;float:left;}
    .list-view li,.text-view li{
        .product-item .view-item{float:left;width:100%;border-bottom:1px solid $border-bgcolor-default;
            .item-error-msg{width:26%;left:24px;}
            .product-img{float:left;border:none;box-shadow:none;width:auto;height:auto;    
                .btn-quick-view{display:none;} 
            }
            .product-details{float:left;margin-top:0;text-align:left;padding:0 15px;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-direction:column;flex-direction:column;
                .title{margin:0 0 6px 0;order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;
                    a{font-size:$base-font-size + 5;}
                    .md-product-name{display:none!important;}
                }
                .product-rating{order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;margin:4px 0 10px 0;}
                .product-description{display:block;order:3;-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;margin:0 0 10px;line-height:1.5;font-size:$base-font-size + 1;}
                .price{order:4;-webkit-box-ordinal-group:4;-moz-box-ordinal-group:4;-ms-flex-order:4;-webkit-order:4;margin:5px 0;}
                .item-error-msg{order:5;-webkit-box-ordinal-group:5;-moz-box-ordinal-group:5;-ms-flex-order:5;-webkit-order:5;position:relative;top:0;left:0;}
                .add-to-actions{order:6;-webkit-box-ordinal-group:6;-moz-box-ordinal-group:6;-ms-flex-order:6;-webkit-order:6;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin:0;
                    a,button{margin:10px 3px;}
                    .add-to-cart{margin:10px 3px 10px 0;order:1;-webkit-box-ordinal-group:1;-moz-box-ordinal-group:1;-ms-flex-order:1;-webkit-order:1;color:$base-color-white;background-color:$base-color-primary;border:none;line-height:39px;}
                    .add-to-wishlist{order:2;-webkit-box-ordinal-group:2;-moz-box-ordinal-group:2;-ms-flex-order:2;-webkit-order:2;visibility:visible;opacity:1;left:0;}
                    .add-to-compare{order:3;-webkit-box-ordinal-group:3;-moz-box-ordinal-group:3;-ms-flex-order:3;-webkit-order:3;visibility:visible;opacity:1;left:0;}
                    .wishlist-status{order:5;-webkit-box-ordinal-group:5;-moz-box-ordinal-group:5;-ms-flex-order:5;-webkit-order:5;}
                    .list-quick-view{display:block;order:4;-webkit-box-ordinal-group:4;-moz-box-ordinal-group:4;-ms-flex-order:4;-webkit-order:4;}
                }
            }
        }
    }
    
    .text-view li{
        .product-item .view-item{float:left;width:100%;       
            .product-img{float:left;border:none;box-shadow:none;width:auto;height:auto;display:none; }
      }
    }
    // Commented this section because text view is not present in the This Theme.
    /*.text-view > li{width: 100%;}
    .text-view li .product-item{width:100% !important;}
    .text-view li{    
        .product-item{margin:5px auto;
             .view-item{border-bottom:1px solid $border-bgcolor-default;
                    .item-error-msg{width:100%;left:0;top:70px;background-color:transparent;text-align:left;left:10px;
                        p{color:$text-fgcolor-default;font-size:14px;text-shadow:none;}
                    }
                    .new-product-tag{right:55px;}
                }
        }
        .product-img{border:none;
            .image{display:none;}
            .compare-link{position:absolute;top:15px;right:-8px !important;bottom:65px;left:auto;opacity:0;pointer-events:none;}
            .btn-quick-view{top:45px;left:43%;width:auto;}  
        }   
        .product-details{margin-top:0;text-align:left !important;
              .title{margin:0 0 6px 0;} 
        } 
    }
    .text-view li .product-details .text-center,.list-view li .product-details .text-center{text-align:left !important;}*/
}

// Product View Changes.
.product-grid-ul{margin:0;padding:0;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;
    li{list-style:none;padding:0;margin:0;}
}
.product-grid {
    .bottom-pagination{border-top:none;}
}
.bottom-pagination{float:left;width:100%;margin:20px 0;padding-top:25px;border-top:1px solid $border-bgcolor-default;
    .search-paging{float:none;
        .search-pagination{display:block;float:right;padding:0;}
        .search-page-no{float:left;width:80px;}
        ul{text-align:center;float:right;margin:0;padding:0;
            li{display:inline-block;list-style:none;
                a.disabled{opacity:0.3;pointer-events:none;cursor:not-allowed;
                    &:hover{cursor:not-allowed;}
                }
            }
            .arrow-right{float:left;width:32px;height:32px;line-height:32px;border:1px solid $border-bgcolor-default;color:$base-color-primary;text-align:center;
                a{text-decoration:none!important;padding:8px;}
            }
            .arrow-left{@extend .arrow-right;margin-right:5px;}
        }
    }
    .search-sorting{display:none;}
}

// Compare Product Vertical Center.
.compare-product-popup{position:absolute;top:50%;transform:translate(0, -50%) !important;-webkit-transform:translate(0, -50%) !important;-moz-transform:translate(0, -50%) !important;left:0;right:0;}

// Category Landing.
.category-list h1{border-bottom:5px solid $base-color-primary;margin-top:0;padding-bottom:10px;}

// Media Query.
@include screensize(x-small) {
    .grid-view > li{width: 50%;padding:10px;float:left;}
    .search-paging{padding:0;}
    /*.product-grid .product-view .product-img{border:none;width:132px;height:132px;margin:auto;}*/
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:none;}
    .product-grid .product-view .list-view li .product-item .view-item{margin:0;
        .product-img{width:100%;
            .image{width:280px;margin:auto;}
        }
        .product-details{width:100%;
            .add-to-actions .list-quick-view{display:none;}
        }
    }
    .product-grid{
        .grid-view li .product-item .view-item{margin:0;}
        .md-sorter{
            .top-pagination{
                .search-paging{float:left;margin-bottom:10px;
                    .search-page-no{float:left;width:80px;margin-right:15px;}
                }
                .search-sorting{float:left;width:100%;}
            }
        }
        .product-view{
            .list-view li .product-img{
                .image{min-height:70px;}
            }
        }
    }
    .compare-link{left:6px;top:210px;opacity:1;
        a{padding:5px;
            i{font-size:15px;}
        }
    }
    .list-view li{
        .compare-link{left:6px;top:10px;opacity:1;}        
    }
}
@include screensize(xl-small){
    .product-grid{
        .md-sorter{
            .top-pagination{
                .search-paging{float:right;margin-bottom:0;}
                .search-sorting{float:left;width:180px;}
            }
        }
    }
    .product-grid .product-view .list-view li .product-item .view-item{
        .product-img{width:20%;
            .image{width:100%;margin:auto;}
        }
        .product-details{width:80%;
            .add-to-actions .list-quick-view{display:block;}
        }
    }
    .product-list-widget .view-item:hover .btn-quick-view,.product-grid .product-view .view-item:hover .btn-quick-view{display:inline-table;}
    /*.product-grid .product-view .product-img{width:192px;height:192px;}*/
}
@include screensize(small) {
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:150px;}
            .btn-quick-view{top:150px;left:8%}
        }
    } 
    .compare-link{opacity:0;left:-30px;top:15px;
        a{padding:10px;
            i{font-size:22px;}
        }
    } 
    .list-view li{
        .compare-link{left:-30px;top:15px;opacity:0;}        
    }
}
@include screensize(medium) {
    .grid-view > li{width:33.3%;}
    .product-grid .product-view{
        .list-view li .product-img{
            .image{min-height:220px;}
            .btn-quick-view{top:210px;left:11%;}
        }
    }
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:12px;}
        .btn-quick-view,.btn-add-cart{padding:0 12px 0 7px;font-size:12px;}
    }    
}
@include screensize(desktop) {  
    .grid-view > li{width:25%;}    
    .product-grid .product-item{
        .btn-quick-view i,.btn-add-cart i{font-size:16px;}
        .btn-quick-view,.btn-add-cart{padding:0 15px 0 10px;font-size:13px;}
    }
}