﻿@import "../_base.scss";

.product-list-widget,.product-grid .product-view{
    .product-item{margin:0 auto 10px;position:relative;}
    .view-item{border:1px solid $base-color-white;margin:10px;
        &:hover{z-index:99;
            .product-img{box-shadow: 0 15px 20px -5px rgba(0, 0, 0, 0.2);}
            .item-error-msg{background:rgba(0,0,0,0.2);}
            .btn-quick-view{display:inline-table;}
            .product-details{
                .add-to-wishlist{color:$base-color-white;visibility:visible;opacity:1;filter:Alpha(Opacity=100);right:0;background-color:$base-color-primary;border-color:$base-color-primary;}
                .add-to-cart{color:$base-color-white;background-color:$base-color-primary;border-color:$base-color-primary;}
                .add-to-compare{color:$base-color-white;visibility:visible;opacity:1;filter:Alpha(Opacity=100);left:0;background-color:$base-color-primary;border-color:$base-color-primary;}
            }
        }
        .item-error-msg{background:rgba(0,0,0,0.3);position:absolute;width:83%;top:90px;left:21px;right:0;text-align:center;vertical-align:middle;display:inline-block;
                p{color:$base-color-white;font-family:$base-font-family-bold;position:relative;font-size:$base-font-size + 5;text-shadow: 2px 4px 3px rgba(0,0,0,0.3);}
        }
    }
    .product-img{border: solid 1px $border-bgcolor-default;position:relative;
        .image{min-height:220px;}
        img{margin:0 auto;width:100%;height:auto;}
        .new-product-tag{position:absolute;top:5px;right:5px;z-index:99;width:40px;height:40px;}
        .btn-quick-view{position:absolute;bottom:0;left:0;width:100%;font-size:11px;text-transform:uppercase;line-height:46px;height:46px;display:none;z-index:99;padding:0 10px;font-family:$base-font-family-bold;border-radius:0;
            &:hover{opacity:0.95;text-decoration:underline;}
        }  
    } 
    .product-details{
        .product-description{display:none;}
        .product-rating{margin:3px 0;}
        .title{margin: 0 0 3px;line-height:1;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;
            a{font-size:$base-font-size + 1;color:$text-fgcolor-default;}
            &:hover{
                .md-product-name,.md-product-full-name{display:block;}
            }
        }
        .md-product-full-name,.md-product-name{display:none;font-size:$base-font-size + 1;line-height:1.43;border-radius:0;position:absolute;top:10px!important;width:100%;background:$base-color-white;left:0!important;text-align:center;transition:all .3s;padding:4px 1px;cursor:default;border:1px solid $border-bgcolor-default;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);word-wrap:normal;white-space:normal;color:$text-fgcolor-default;}
        .md-product-name{top:40px!important;}
        .price{margin:10px 0 5px;font-size:$base-font-size + 5;letter-spacing:0.005em;color:$widget-price-color;display:grid;
            label{margin:0;font-weight:$base-font-normal;}
        }
        .cut-price{font-size:$base-font-size;}
        a{text-decoration:none;}
    }
    .owl-theme .owl-controls{position:absolute;right:0;text-align:center;top:-35px;
        .owl-buttons .owl-prev,.owl-buttons .owl-next{color:$base-color-primary;height:28px;width:30px;margin:0;line-height:31px;opacity:1;font-size:$base-font-size;
                &:hover{color:$base-color-primary}
        }
    }
    .recent-view-items{float:left;width:100%;}
}
// Media Query
@include screensize(x-small) {
    .product-list-widget,.product-grid .product-view{
        .product-details{padding:19px 0;text-align:center;position:relative;
            .add-to-actions{margin:0 -10px;
                a,.list-quick-view{display:inline-block;margin:10px 1px;vertical-align:middle;border:1px solid $border-bgcolor-default;line-height:37px;padding:0 10px;position:relative;transition: all .3s;color:$widget-hover-cart;min-width:39px;text-align:center;
                    i{font-size:$base-font-size + 4;vertical-align:middle;}
                }
                .add-to-wishlist{right:-20px;visibility:hidden;opacity:0;display:none;}
                .add-to-cart{font-size:$base-font-size - 1;text-transform:uppercase;letter-spacing:0.025em;
                    i{vertical-align:text-bottom;}
                }
                .add-to-compare{left:-20px;visibility:hidden;opacity:0;display:none;}
                .list-quick-view{display:none;background-color:$base-color-white;}
            }
        }
    }
    #layout-home .product-list-widget {padding:0 5px;margin:0;}
}
@include screensize(xl-small) {
    .product-list-widget,.product-grid .product-view{
        .product-details{padding:19px 0px;
            .add-to-actions{
                .add-to-wishlist{display:inline-block;}
                .add-to-compare{display:inline-block;}
            }
        }
    }
}
@include screensize(small) {
    .product-list-widget,.product-grid .product-view{
        .product-details{padding:19px 10px;}
    }
    #layout-home .product-list-widget {padding:0;}
}
