﻿@import "../_base.scss";

// Product Tab.
.product-details-tab {position:relative;margin-top:50px;
    ul{border-bottom:1px solid $border-bgcolor-default;
       li{padding-right:5px;
          a{color:$text-fgcolor-heading;border-radius:0;text-align:center;font-size:$base-font-size + 1;padding:10px 0 14px;text-transform:uppercase;letter-spacing:1px;
                &:hover{text-decoration:underline;background-color:transparent;color:$text-fgcolor-heading;border:1px solid transparent;}
          }
       }
    }

    .nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus{border:none;border-bottom:2px solid $text-fgcolor-heading;}

    .tab-content{min-height:300px;overflow-y:auto;border:none;box-shadow:none;padding:32px 0;font-size:$base-font-size + 1;letter-spacing:0.005em;line-height:27px;
        h4{
            a{font-size:16px;font-family:$base-font-family-bold;padding-right:5px;}
            span{padding-left:5px;border-left:1px solid $border-bgcolor-default;color:#949494;font-size:14px;}
        } 
    }        
}
// Product Review.
.product-review{margin-bottom:15px;
        .review-title h3{font-size:14px;font-family:$base-font-family-bold;}
}

// Media Query.
@include screensize(x-small) {  
    .product-details-tab ul li{width:100%;padding-right:0;
        a{margin-right:0;}
    } 
}
@include screensize(small) {  
    .product-details-tab{
        ul li{width:auto;padding-right:5px;
            a{margin-right:37px;}
        }
        .tab-content{max-height:400px;}
    } 
}