﻿@import "../_base.scss";

footer{position:relative;clear:both;}

.footer-container {background:$footer-bgcolor;
    .footer-information{font-size:$base-font-size;color:$footer-fgtext-color;padding:40px 0;letter-spacing:0.005em;
        .footer-ribbon{position:absolute;padding:10px 20px 6px;margin:-58px 0 0 0;background-color:$base-color-primary;color:$base-color-white;
            &:before{border-right:10px solid $base-color-primary;border-top:18px solid transparent;content:"";display:block;height:0;left:-10px;position:absolute;top:0;width:7px;}
            span{font-size:$base-font-size + 7; font-family:$base-font-family-secondary;}
        }
        .nav-home {display:none;}
        a{color:$footer-fgtext-color;text-decoration:none;
            &:hover,&:focus,&:active{text-decoration:underline;}
        }
        li i{display:none;}
    }
    .header-footer {
        h3 {margin:20px 0;text-transform:uppercase;color:$base-color-white;font-size:$base-font-size + 5;font-family:$base-font-family-bold;}
    }
    .titles{padding:9px 0;color:$base-color-white;font-size:$base-font-size - 1;
        &.address div{line-height:1.35;}
        div{margin-top:3px;color:$footer-fgtext-color;font-size:$base-font-size;
            a{line-height:1;padding-left:0;}
        }
    }
    .footer-contact p,.footer-contact a{padding-left:5px;}
    .news-letter-container{padding-left:5px;padding-right:5px;}
    .footer-shop{padding-left:5px; padding-right:5px;   
         ul li {width:100%;display: inline-block;list-style:none;background-color:transparent;padding:0;vertical-align:top;padding:10px 0;
                    a {padding:0;float:left;text-transform:capitalize;font-size:$base-font-size;
                        &:hover {background-color: transparent;}
                    }
                    .sub-menu{display: none;}
                    i{float: left;}
                    .dropdown-menu{display:none;}
                }
         .navbar-nav{height:auto !important;margin:0;}
    }
    .footer-copyright{background-color:$footer-bgcolor;border-top:1px solid $border-bgcolor-default; padding:30px 0 35px;
        .footer-logo{width:210px;max-height:65px;font-size:$base-font-size +5;color:#626262;font-size:22px;padding:5px 0;}
        p{color:$footer-fgtext-color; display:inline-block; vertical-align:middle; line-height:28px;}
        ul{text-align:center;padding-left:0;margin-bottom:0;
             li {list-style:none;display:inline-block; vertical-align:middle; padding:0 4px;
                  i {font-size:26px;color:#828282;
                      &:hover {color:$base-color-white;}
                  }
             }
        }
    }
    .newsletter-widget{
        .newsletter-text{margin-bottom:22px;line-height:19px;}
        .error-msg{margin-top:5px;}
    }
}

// Media Query.
@include screensize(x-small) {
    .footer-container{
        .footer-copyright{
            .footer-text{float:none;padding:0 5px;margin-bottom:5px;
                p{font-size:$base-font-size - 2;}
            }
            .social-media{float:none;padding:0 5px;margin-bottom:10px;
                .link-panel-widget li img{height:34px;width:auto;}
            }
            .payment-gateway{float:none;padding:0 5px;padding-top:10px;margin-right:0;
                .link-panel-widget li img{height:36px;width:auto;}
            }
        }
        .footer-shop{margin-bottom:15px;}
    } 
}
@include screensize(small) {
    .footer-container{
        .footer-copyright{
            .footer-text{float:left;padding:0;margin-bottom:0;}
            .social-media{float:right;padding:0;margin-bottom:0;}
            .payment-gateway{float:right;padding:0;padding-top:0;margin-right:86px;}
        }
    }
}
@include screensize(medium) {
    .footer-container{
        .footer-shop{margin-bottom:0;}
    } 
}