﻿@import "../_base.scss";

.header{position:relative;top:0;left:0;width:100%;transition:height 500ms, background 500ms;z-index:999;background-color:$base-color-white; 
    .header-logo{float:left;max-height:95px;padding-right:5px;color:$base-color-primary;
        img{max-height:95px;display:block;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;font-size:22px;}
        h1{color:$base-color-primary;font-size:22px;}
    }
    .header-link-contain{-webkit-transition:all 0.3s;-moz-transition:all 0.3s;transition:all 0.3s; 
        .header-link ul{float:right;padding-left:0;
                li{display:inline;list-style:none;border-right:1px solid $border-bgcolor-default;padding:0 5px;line-height:34px;position: relative;
                &:hover {color:$base-color-primary;}
                &:last-child {border: none;}
                a{padding-left:5px;}
                a.user-icon{padding:0;
                    &:hover{padding-left:0;color:$base-color-primary;}
                }
                .log-off{border-left:1px solid $border-bgcolor-default;}
                .header-toolbar-cart{color:$base-color-primary;font-size: 24px;}
                .cartcount{top:-14px;height:16px;width:16px;border-radius:50px;font-size:12px;font-family:$base-font-family-bold;line-height:16px;text-align: center;position:absolute;}
                form{display:inline;}
                i.zf-login-user{float:left;margin-top: 5px;}
            } 
        }
    }
    .md-logo-nav{display:block;vertical-align:middle;text-transform:uppercase;
        .header-nav-container .navbar-collapse > ul > li > ul{width:205px;}
        a{color:$header-anchor-tag;
          &:hover,&:focus{text-decoration:none;}
        }
        .md-logo{height:50px;float:left;
            .header-logo{height:50px;line-height:50px;
                img{max-height:50px;display:inline-block;}
            }
        }
        .md-cart-area{float:right;height:50px;
            .md-call-us{float:left;text-align:left;font-size:$base-font-size - 2;height: 42px;line-height: 1;border-right:1px solid #dde0e2;padding-right: 35px;
                .text{line-height:16px;margin-top:4px;color:$anchor-tag-fgcolor;}
                .number{font-size:$base-font-size + 5;font-family:$base-font-family-bold;display:block;line-height:27px;color:$header-anchor-tag;}
            }
            .md-mini-cart{float:left;line-height:40px;margin-left:20px;position:relative;
                .header-toolbar-cart{margin:0 5px;font-size:$base-font-size + 17;vertical-align:middle;}
                .zf-arrow-down-small{padding-left:15px;display:none;}
                .cartcount{position:absolute;text-align:center;top:0;right:0;/*right:25px;*/background-color:#ed5348;font-size:$base-font-size - 3;height:16px;width:16px;line-height:16px;border-radius:50%;color:$base-color-white;}
                .md-mini-cart-hover{display:none!important;position:absolute;width:300px;right:0;top:50px;border:1px solid #f0f0f0;background-color:$base-color-white;
                    &:before{border-bottom-style: solid;content:'';display:block;height:0;position:absolute;width:0;border: 10px solid;border-color:transparent transparent $base-color-white transparent;z-index:3;right:30.7px;top:-20px;}
                    &:after{border-bottom-style: solid;content:'';display:block;height:0;position:absolute;width:0;border:11px solid;border-color:transparent transparent #f0f0f0 transparent;z-index:2;right:30px;top:-22px;left:auto;}
                    .cart-empty{margin:20px;text-align: center;font-size:$base-font-size - 2;line-height:16px;}
                }
            }
        }
    }
    &.shrink{position:fixed;
        .md-top-link-container{display:none;}
        .md-logo-nav{padding:0 10px;box-shadow: 0 1px 2px rgba(0,0,0,0.1);
            .md-logo .header-logo img{max-height:40px;}
            .md-search{display:none;}
            .md-cart-area{
                .md-call-us{display:none !important;}
                .md-mini-cart{margin-top:5px;
                    .zf-arrow-down-small{display:none;}
                    /*.cartcount{right:0;}*/
                }
            }
        }
    }  
}
.hide-show {display: none;}

// Media Query.
@include screensize(x-small) {    
    .header{
        .md-top-link-container{background-color:$base-color-primary;font-size:$base-font-size - 2;letter-spacing:0.025em !important;padding:5px;position:relative;color:$top-link-container-text;text-transform:uppercase;
            a,button{color:$top-link-container-text;text-transform:uppercase;line-height:25px;}
            .top-links-area{position:relative;}
            .top-links-icon a{text-decoration:none;}
            .links{margin:0;position:absolute;right:0;z-index:9;background-color:$base-color-white;padding:5px 0;text-align:right;border:1px solid $border-bgcolor-default;display:none;
                li{list-style-type:none;
                    &:last-child{padding-right:0;}
                    a{color:$text-fgcolor-default;white-space:nowrap;padding:0 10px;line-height:19px;}
                    &:hover{background-color:$boder-bgcolor-primary;
                        a{color:$base-color-white;}
                    }
                }
            }
            .welcome-msg{margin:0 20px 0 0;text-align:left;float:right;text-transform:uppercase;line-height:25px;} 
        }
        .md-logo-nav{padding:28px 5px;
            .md-logo .header-logo img{max-width:140px;overflow:hidden;}
            .header-nav-container{background-color:$nav-bgcolor;height:50px;float:left;width:50px;float:right;position:relative;margin-right:10px;
                a{font-family:$base-font-family-bold;} 
                .zf-caret-right{display:none;}
                .navbar-header{display:block;float:none;height:auto;line-height:50px;padding:0;
                    .navbar-toggle{float:left;margin:8px 0 8px 10px;background-color:$base-color-white;display:block;
                        .icon-bar{background-color:$base-color-primary;}
                    } 
                }
                .navbar-collapse > ul > li > ul{width:100%;}
                .collapse{display:none !important;
                    &.in{display:block !important;}
                }
                .navbar-collapse{position:fixed;width:100%;left:0;
                    ul{width:100%;
                        li{float:none;width:100%;position:relative;}
                    }
                }       
            }
            .md-search{line-height:50px;float:right;position:relative;display:block;line-height:50px;width:30px;text-align:center;
                i{font-size:$base-font-size + 5;vertical-align:middle;}
                .search-widget{display:none;width:250px;position:absolute;right:-50px;border:5px solid $boder-bgcolor-primary;background-color:$base-color-white;z-index:3;
                    &:before{content:"";display:block;position:absolute;right:45px;top:-25px;width:20px;height:20px;border:10px solid transparent;border-bottom-color:$boder-bgcolor-primary;}
                    .input-group{line-height:1;display:block;text-align:left;
                        .input-group-btn {position:absolute;top:0;right:0;width:40px;
                            button{background-color:transparent;min-width:40px;padding:0;outline:none;
                                i{position:relative;padding:0;color:$text-fgcolor-default}
                            }
                        }
                        input{top:auto !important;padding:10px 15px;border-radius:0;
                            &:first-child{display:none;}
                        }
                    }
                }
            }
            .md-cart-area .md-mini-cart{margin-left:10px;margin-top:5px;}
        }
    }
}

@include screensize(xl-small){
    .header .md-logo-nav .md-search .search-widget{width:350px;}
}

@include screensize(small) {
    .header{
        .md-top-link-container{
            .links{padding:0;margin:0;position:relative;background-color:transparent;border:none;display:block!important;
                li{line-height:25px;display:inline-block;padding:0 15px;
                    a{color:$top-link-container-text;white-space:nowrap;padding:0;line-height:19px;}
                    &:hover{background-color:transparent;
                        a{color:$top-link-container-text;}
                    }
                }
            }
        }
        .md-logo-nav{padding:28px 0;
            .md-logo .header-logo{margin-right:15px;
                img{width:auto;}
            }
        }
    }
}
@include screensize(medium) {     
    .header .md-logo-nav{
        .header-nav-container{background-color:$nav-bgcolor;height:50px;float:left;width:auto;
            .navbar-header{
                .navbar-toggle{display:none;} 
            }
            .collapse{display:block!important;height:auto!important;}
            .navbar-collapse{position:relative;width:auto;
                ul{width:auto;
                    li{float:left;width:auto;}
                }
            }
            .navbar-collapse > ul > li > ul{width:205px;}
        }
        .md-search{float:left;
            i{font-size:$base-font-size;}
            .search-widget{width:450px;left:-50px;
                &:before{left:45px;}
            }
        }
    }
}