﻿@using Znode.Engine.WebStore.ViewModels
@model ProductListViewModel
@{
    TempData[WebStoreConstants.ProductCount] = Model?.Products?.Count;
    string searchTerm = Request.QueryString["SearchTerm"]?.ToString();
    string searchValue = string.IsNullOrEmpty(Model.SuggestTerm) ? Model.SearchKeyword : Model.SuggestTerm;
}

@if (Model?.Products?.Count > 0)
{
    var categoryName = Model.Products.First()?.CategoryName;

    <div class="col-xs-12 product-grid nopadding">
        <div class="col-xs-12 nopadding products-modes-setting">
            <div class="col-xs-12 col-sm-6 nopadding">
                <h1>@categoryName</h1>
            </div>
            <div class="col-xs-12 col-sm-6 nopadding">
                <div class="view-mode pull-right">
                    <span data-test-selector="spanViewModeLabel">@WebStore_Resources.ProductViewMode &nbsp;</span>
                    <a data-test-selector="linkGridView" href="javascript:void(0);" class="productview grid-view-opt-active" title="Grid View"><i class="zf-grid-view"></i></a>
                    <a data-test-selector="linkListView" href="javascript:void(0);" class="productview list-view-opt" title="List View"><i class="zf-list-view"></i></a>
                    <a data-test-selector="linkTextView" href="javascript:void(0);" class="productview text-view-opt" title="Text View"><i class="zf-text-view"></i></a>
                </div>

            </div>
        </div>
        <div class="col-sm-12 nopadding">

            @{if ((Model?.IsSearchFromSuggestions).GetValueOrDefault())
                {
                    <div class="col-sm-12 nopadding margin-bottom">
                        <p data-test-selector="lblShowingResults">Showing results for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SuggestTerm)">@Model.SuggestTerm </a>instead  of @Model.SearchKeyword.</p>
                        <p data-test-selector="lblSearchInstedOf">Search instead for <a href="/Search/Index?SearchTerm=@HttpUtility.UrlEncode(Model.SearchKeyword)&usesuggestion=false">@Model.SearchKeyword</a>.</p>
                    </div>
                }
                else if (!Equals(Model.SearchResultCountText, null))
                {
                    <p class="search-result" data-test-selector="lblSearchResult">@Html.RenderBlock(Model.SearchResultCountText)</p>
                }
            }
        </div>
        <div class="col-sm-offset-2 col-md-offset-3" id="pagingsearching">
            @Html.Partial("../Search/_PagingSearching", Model)
        </div>

        <div class="col-xs-12 product-view nopadding">
            <ul data-test-selector="listProductsContainer" id="view-option-productgrid" infinnity-loading="@Helper.InfinityLoading" class="product-grid-ul grid-view">
                @{
                    if (!Equals(Model, null))
                    {
                        foreach (var p in Model.Products)
                        {
                            <li data-test-selector="listProductsList">
                                <article class="product-item">
                                    @Html.Partial("../Product/_ProductTile", p)
                                </article>
                            </li>
                        }
                    }
                }
            </ul>

            <div id="loading" class="loader" style="display:none;"></div>
        </div>
        <div class="col-sm-offset-2 col-md-offset-3" id="pagingsearching">
            @Html.Partial("../Search/_FooterPagination", Model)
        </div>
    </div>
}
else
{
    if (!string.IsNullOrEmpty(Model.SearchTextName) && Model.SearchTextName != "Search")
    {

        <div class="col-sm-12 nopadding">
            @string.Format(WebStore_Resources.ErrorProductSearchResult, Model.SearchTextName)
        </div>
    }
    else
    {
        <div class="col-sm-12 nopadding margin-bottom" data-test-selector="divResultFoundMessage">
            @Html.RenderBlock(WebStore_Resources.NoSearchResultsFound?.Replace("{0}", searchTerm))
        </div>
    }
}

<script>
    $(document).ready(function () {
        var async = '@Helper.IsAsyncPrice';
        if (async == 'True') {
            Product.prototype.GetPriceAsync();
        }
        $("#searchTextBox").val('@Html.RenderBlock(searchValue)');

    })

</script>
@Html.Partial("../Schema/_ProductListSchema", Model)