﻿@model Znode.Engine.WebStore.ViewModels.ShortProductViewModel
 @{
	 Layout = null;
	 int productId = Model.MiscellaneousDetails.ConfigurableProductId > 0 ? Model.MiscellaneousDetails.ConfigurableProductId : Model.PublishProductId;
}
<div class="col-xs-12 margin-top nopadding">
    <z-widget>@Html.WidgetPartial("LinkProductList", "LinkProducts", "1101", "PortalMapping", productId)</z-widget>
    <z-widget>@Html.WidgetPartial("RecentlyViewProduct", "RecentlyViewProduct", "126", ZnodeCMSTypeofMappingEnum.PortalMapping.ToString())</z-widget>
</div>
