﻿@{
    ViewBag.Title = Admin_Resources.TitleSetup + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@Admin_Resources.TitleStore</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <div class="col-sm-6 col-lg-4">
            <a href="/Store/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-stores"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelStores</h3>
                        <span>Set up stores, associate a catalog, and create URLs to access the store.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/TaxClass/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-tax"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelTaxes</h3>
                        <span>Set up rules to compute the correct sales taxes during checkout.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/shippings/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-shipping"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleShipping</h3>
                        <span>Set up shipping options such as Custom Rates, UPS, and FedEx.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Payment/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-payment"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitlePayments</h3>
                        <span>Set up payment options such as credit cards, purchase orders, and PayPal.</span>
                    </div>
                </div>
            </a>
        </div>
                
        <div class="col-sm-6 col-lg-4">
            <a href="/Price/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-price"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderPricing</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Inventory/InventorySKUList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-inventory"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderInventory</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/profiles/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-profiles"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>User Profiles</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        @*<div class="col-sm-6 col-lg-4">
            <a href="/WareHouse/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-warehouse"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderWarehouse</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/StoreLocator/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-store-locator"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleStoreLocator</h3>
                        <span>Manage locations of your physical stores that can then be searched via a store locator.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Promotion/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-promotinons-and-coupons"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TextPromotion</h3>
                        <span>Manage promotional campaigns and discount coupons.</span>
                    </div>
                </div>
            </a>
        </div>*@
    </section>
</div>