﻿@model Znode.Engine.WebStore.ViewModels.LoginViewModel
@{
    string rememberMeStatus = (!Equals(Model, null) && Model.RememberMe) ? "checked='checked'" : string.Empty;
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i aria-hidden="true" class="zf-close-circle"></i></button>
    <h4 class="modal-title">Customer Login</h4>
</div>
<div class="modal-body login-container-popup">
    <div class="col-xs-12 nopadding login-container">
        <div class="inner-container">
            @using (Ajax.BeginForm("Login", "User", new AjaxOptions { OnSuccess = "getresult" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-xs-12">
                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label for="login_username">@WebStore_Resources.ColumnUsername</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-login-user login-icon"></i>
                            @Html.TextBoxFor(model => model.Username, new { @id = "login_username" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Username)</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12 nopadding">
                            <label for="login_password">@WebStore_Resources.ColumnPassword</label>
                        </div>
                        <div class="col-xs-12 left-inner-icon nopadding">
                            <i class="zf-key login-icon"></i>
                            @Html.PasswordFor(model => model.Password, new { @id = "login_password" })
                            <p class="error-msg">@Html.ValidationMessageFor(m => m.Password)</p>
                        </div>
                    </div>
                    <div class="col-xs-12 nopadding">
                        <button type="submit" class="btn-text-login btn-color-primary">@WebStore_Resources.ButtonLogin</button>
                    </div>
                    <div class="col-xs-12 margin-top-bottom nopadding">
                        <div class="col-sm-6 nopadding styled-input remember-me">
                            <input @rememberMeStatus type="checkbox" value="true" name="RememberMe" id="RememberMe" data-val-required="The Remember Me field is required." data-val="true">
                            <label for="RememberMe">@WebStore_Resources.RememberMe</label>
                            <input type="hidden" value="false" name="RememberMe">
                        </div>
                        <div class="col-sm-6 nopadding">

                            @Html.Hidden("returnUrl", "~/Checkout")

                            <a href="/user/forgotpassword" class="login-form-forgotpassword pull-right" title="@WebStore_Resources.LinkTextForgetPassword">@WebStore_Resources.LinkTextForgetPassword</a>
                        </div>
                    </div>
                    <div id="error-content" class="error-msg"></div>
                </div>
            }
            <div class="col-xs-12 margin-top-bottom">
                <div class="col-xs-12 nopadding">
                        @Html.Partial("_ExternalLoginsListPartial")
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function getresult(data) {
        if (data.status == false)
            $("#error-content").html(data.error);
        else
            window.location.href = "/checkout";

    }
</script>