﻿
<div class="col-xs-12 nopadding cart-summary receipt-totals text-right">
    <div class="col-sm-offset-5 col-md-offset-6">
        <div class="form-group">
            <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnSubTotal</div>
            <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(Model.SubTotal, Model.CurrencyCode)</div>
        </div>
        @if (Model.DiscountAmount != 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnDiscounts</div>
                <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(0 - Model.DiscountAmount, Model.CurrencyCode)</div>
            </div>
        }
        @if (Model.TaxCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnTax</div>
                <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(Model.TaxCost, Model.CurrencyCode)</div>
            </div>
        }
        @if (Model.ShippingCost > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelShippingCost (@Html.Raw(Model.ShippingTypeName)) </div>
                <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(Model.ShippingCost, Model.CurrencyCode)</div>
            </div>
        }
        @if (Model.GiftCardAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.ColumnGiftCardAmount</div>
                <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, Model.CurrencyCode)</div>
            </div>
        }

        @if (Model.CSRDiscountAmount > 0)
        {
            <div class="form-group">
                <div class="col-xs-6 nopadding">@WebStore_Resources.LabelCSRDiscountAmount</div>
                <div class="col-xs-6 nopadding">@Helper.FormatPriceWithCurrency(0 - Convert.ToDecimal(Model.CSRDiscountAmount), Model.CurrencyCode)</div>
            </div>
        }

        <div class="form-group receipt-total">
            <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
            <div class="col-xs-6 nopadding"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CurrencyCode)</h2></div>
        </div>
    </div>
</div>
