﻿@model AutoComplete
<div class="quick-order-container quickordercontainer template-quick-order" id="template-quick-order-content">
    <a data-hover="dropdown" class="quickOrder dropdown-toggle btn-text btn-color-primary"> @WebStore_Resources.LabelAddProducts</a>
    @using (Ajax.BeginForm("AddToTemplate", "User", new AjaxOptions() { UpdateTargetId = "TemplateCartItem", OnSuccess = "QuickOrder.prototype.CloseTemplateQuickOrder" }, new { @id = "addtocart-form" }))
    {
        <input type="hidden" id="hdnQuickOrderProductId" name="ProductId" />
        <input type="hidden" id="hdnQuickOrderProductName" name="ProductName" />
        <input type="hidden" id="hdnQuickOrderSku" name="SKU" />
        <input type="hidden" id="hdnQuickOrderProductType" name="ProductType" />
        <input type="hidden" id="hdnQuickOrderCartQuantity" name="CartQuantity" />
        <input type="hidden" id="hdnQuickOrderQuantityOnHand" name="QuantityOnHand" />
        <input type="hidden" id="hdnQuickOrderInStockMessage" name="InStockMessage" />
        <input type="hidden" id="hdnQuickOrderOutOfStockMessage" name="OutOfStockMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryMessage" name="InventoryMessage" />
        <input type="hidden" id="hdnQuickOrderInventoryTracking" name="TrackInventory" />
        <input type="hidden" id="hdnQuickOrderMinQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderMaxQty" name="MinQty" />
        <input type="hidden" id="hdnQuickOrderCallForPricing" name="CallForPricing" />
        <input type="hidden" id="hdnRetailPrice" name="RetailPrice" />
        <input type="hidden" id="hdnImagePath" name="ImagePath" />
        <input type="hidden" id="hdnTemplateNameQuickOrder" name="TemplateName" />
        <div class="dropdown-menu quick-order divQuickOrder">
            <div class="close-quick-order-popup close"><i class="zf-close"></i></div>
            <div class="col-xs-12 nopadding padding-10">
                <div class="col-xs-10 col-sm-10 nopadding">
                    @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetProductListBySKU", "Product", "QuickOrder.prototype.OnItemSelect", false, new { htmlAttributes = new { @placeholder = WebStore_Resources.TextEnterSku, @class = "txtQuickOrderSku", @id = "hdnttxtSKU" } })
                </div>
                <div class="col-xs-2 nopadding">
                    @Html.TextBox("Quantity", 1, new { @id = "txtQuickOrderQuantity", @class = "quantity txtQuickOrderQuantity", @placeholder = WebStore_Resources.ColumnTitleQty, @maxlength = 4 })
                </div>
            </div>

            <div class="col-xs-12 nopadding padding-10">
                <div class="col-xs-6 nopadding">
                    @Html.ActionLink(WebStore_Resources.LabelQuickOrderMultiplePartSku, "QuickOrderPadTemplate", "User", null, new { @class = "multiple-sku", id="quickOrderPadTemplateLink" })
                </div>
                <div class="col-xs-6 nopadding">
                    <button class="btn-text btn-color-primary pull-right quickOrderAddToCart" disabled="disabled">@WebStore_Resources.ButtonAddToTemplate</button>
                </div>
                <p id="inventorymsg" class="error-msg"></p>
            </div>
        </div>
    }
</div>
