﻿@using Znode.Engine.WebStore.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
}
@model AddressViewModel

<div id="layout-account-editaddress" class="main-wrapper">

    <div class="container">
        <div class="row user-account">
            <div class="col-xs-12 nopadding">
                <h1 class="page-title">
                    @if (!Equals(Model.AddressId, 0))
                    {
                        @WebStore_Resources.TitleEditAddress
                    }
                    else
                    {
                        @WebStore_Resources.TitleAddAddress
                    }
                </h1>
            </div>
            <div class="col-xs-12 account-dashboard nopadding">
                <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">                    
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-10 address-book edit-address right-container">
                    <form class="form" method="POST" action="" id="frmEditAddress">
                        @Html.AntiForgeryToken()
                        @Html.Partial("_EditAddress", Model)  
                        @if (Model != null && Model.AddressId > 0)
                        {
                            <div class="col-xs-12 col-sm-6 margin-bottom">
                                <div class="pull-right delete-address">
                                    <button type="button" data-url="/User/DeleteCurrentAddress" id="deleteCurrentAddress" onclick="User.prototype.DeleteCurrentAddress()" class="btn-text btn-color-secondary">@WebStore_Resources.LinkTextDeleteAddress</button>
                                    <input type="hidden" name="addressId" value="@Model.AddressId" />
                                    @if (Model.AccountAddressId > 0)
                                    {
                                        <input type="hidden" name="addressId" value="@Model.AccountAddressId" />
                                    }
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#IsDefaultShipping').rules('remove');
        $('#IsDefaultBilling').rules('remove');
    })
</script>
