﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Themes/ModernB2C/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
